input,
.input {
    color: $theme__color__text;
    background-color: $theme__color__white;

    border: 1px solid $theme__color__grey--light;
    border-radius: 2px;

    &:focus,
    &:focus-within {
        border-color: $theme__color__secondary--dark;
        border-width: 1px;
    }

    &:hover {
        border-color: $theme__color__primary;
    }
}
