.video-player {
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;

    .video-js {
        margin: auto;
    }

    &__custom-control__icon.vjs-icon-placeholder {
        &:before {
            font-size: 1.5em;
            line-height: 2;
        }
    }
}
