.navigation {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding: 0.5rem 1rem;

  background-color: $theme__color__grey;
}

.navigation__brand {
  display: inline-block;
  padding: 0.3125rem;
  margin-right: 1rem;

  background-color: $theme__color__green;
  border-radius: 4px;

  color: $theme__color__grey;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;

  &:hover {
    color: $theme__color__grey;
  }
}

.navigation__toggler {
  display: none;
  padding: 0.25rem 0.75rem;

  background-color: transparent;
  border: 1px solid $theme__color__green;
  border-radius: 0.25rem;

  font-size: 1.25rem;
  line-height: 1;

  @include mq(medium) {
    display: block;
  }
}

.navigation__inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include mq(medium) {
    display: none;
  }
}

.navigation__items {
  display: flex;
}

.navigation__item {
  display: block;
  padding: 0.5rem 1rem;

  &--active {
    font-weight: bold;
  }
}

.navigation__user {

}