.solutions {
  width: 100%;
  height: 100%;
  padding: 20px;

  overflow-y: scroll;

  .video-player-wrapper {
    margin: 0;
  }
}

.solutions__form {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;

  border: 1px solid $theme__color__grey--darker;

  .form-group {
    width: 48%;
  }
}