{#<h1>Datenschutzerklärung</h1>#}

<h2>Allgemeine Vorbemerkungen</h2>

<p>Die einzelnen Fachbereiche und das IT und Medien Centrum (ITMC) der Technischen Universität Dortmund nehmen den Schutz von personenbezogenen Daten sehr ernst. Wir verarbeiten personenbezogene Daten, die beim Besuch unserer Webangebote erhoben werden, unter Beachtung der geltenden datenschutzrechtlichen Bestimmungen. Es gelten insbesondere das Datenschutzgesetz NRW (DSG NRW), die Datenschutzgrundverordnung (DSGVO) und das Telemediengesetz.</p>
<p>Diese Datenschutzerklärung bezieht sich auf die Verarbeitung personenbezogener Daten im Rahmen der Lernumgebung Degree 4.0 (degree40.tu-dortmund.de). Personenbezogene Daten sind alle Daten, die auf Sie persönlich beziehbar sind, z.B. Name, Adresse, E-Mail-Adressen, Nutzerverhalten.</p>

<h2>Kontaktdaten des Datenschutzbeauftragten</h2>

<p>Der Datenschutzbeauftragte des Verantwortlichen ist erreichbar unter: <a href="mailto:datenschutzbeauftragter@tu-dortmund.de">datenschutzbeauftragter@tu-dortmund.de</a></p>
<address>
    TU Dortmund<br/>
    Datenschutzbeauftragter<br/>
    August-Schmidt-Str. 4<br/>
    44227 Dortmund<br/>
    Telefon: 0231 755-2593<br/>
    <a href="mailto:datenschutzbeauftragter@tu-dortmund.de">E-Mail senden</a><br/>
</address>

<h2>I Umfang der Verarbeitung personenbezogener Daten</h2>

<p>Wir verarbeiten personenbezogene Daten unserer Nutzer grundsätzlich nur, soweit dies zur Bereitstellung einer funktionsfähigen Webanwendung sowie unserer Inhalte und Leistungen erforderlich ist. Die Verarbeitung personenbezogener Daten unserer Nutzer erfolgt regelmäßig nur nach Einwilligung des Nutzers. Eine Ausnahme gilt in solchen Fällen, in denen eine vorherige Einholung einer Einwilligung aus tatsächlichen Gründen nicht möglich ist und die Verarbeitung der Daten durch gesetzliche Vorschriften gestattet ist.</p>

<h2>II Datenlöschung und Speicherdauer</h2>

<p>Die personenbezogenen Daten der betroffenen Person werden gelöscht oder gesperrt, sobald der Zweck der Speicherung entfällt. Eine Speicherung kann darüber hinaus erfolgen, wenn dies durch den europäischen oder nationalen Gesetzgeber in unionsrechtlichen Verordnungen, Gesetzen oder sonstigen Vorschriften, denen der Verantwortliche unterliegt, vorgesehen wurde. Eine Sperrung oder Löschung der Daten erfolgt auch dann, wenn eine durch die genannten Normen vorgeschriebene Speicherfrist abläuft, es sei denn, dass eine Erforderlichkeit zur weiteren Speicherung der Daten für einen Vertragsabschluss oder eine Vertragserfüllung besteht.</p>

<h2>III Bereitstellung der Webanwendung und Erstellung von Logfiles</h2>
<h3>1. Beschreibung und Umfang der Datenverarbeitung</h3>

<p>Bei jedem Aufruf dieser Webanwendung erfasst unser System automatisiert Daten und Informationen vom Computersystem des aufrufenden Rechners.</p>
<p>Folgende Daten werden hierbei erhoben:</p>
<ul>
    <li>Informationen über den Browsertyp und die verwendete Version</li>
    <li>Betriebssystem des Nutzers</li>
    <li>IP-Adresse des Nutzers</li>
    <li>Datum und Uhrzeit des Zugriffs</li>
</ul>
<p>Die Daten werden ebenfalls in den Logfiles unseres Systems gespeichert. Eine Speicherung dieser Daten zusammen mit anderen personenbezogenen Daten des Nutzers findet nicht statt.</p>

<h3>2. Zweck und Rechtsgrundlage für die Datenverarbeitung</h3>
<h4>a) Erhebung personenbezogener Daten beim Aufruf der Webanwendung</h4>

<p>Die vorübergehende Speicherung der IP-Adresse durch das System ist notwendig, um eine Auslieferung der Website an den Rechner des Nutzers zu ermöglichen. Hierfür muss die IP-Adresse des Nutzers für die Dauer der Sitzung gespeichert bleiben. (Erforderlichkeit zur Erfüllung der Aufgabe der Hochschule Art. 6 Abs. 1 lit. e DSGVO)</p>
<p>Die Speicherung in Logfiles erfolgt, um die Funktionsfähigkeit der Website sicherzustellen. Zudem dienen uns die Daten zur Optimierung der Website und zur Sicherstellung der Sicherheit unserer informationstechnischen Systeme. Eine Auswertung der Daten zu Marketingzwecken findet in diesem Zusammenhang nicht statt.  (Erforderlichkeit zur Erfüllung der Aufgabe der Hochschule Art. 6 Abs. 1 lit. e DSGVO)</p>

<h4>b) Benutzer*innenkonten</h4>
<p>Zwingend erforderlich ist die Angabe einer E-Mail-Adresse durch den Benutzer oder die Benutzerin. Zweck ist die Einrichtung eines Benutzerkontos zur Inanspruchnahme der Webanwendung. Wird die Funktion SAML-Login verwendet, wird diese E-Mail-Adresse vom Single-Sign-On System der TU-Dortmund übermittelt und in der Webanwendung zur eindeutigen Identifikation des Nutzers gespeichert.</p>
<p>Am Benutzer*innenkonto sind weiterhin Information über Zugriffsrechte gespeichert, also auf welche Kurse der Benutzer oder die Benutzerin mit welcher Berechtigungsstufe Zugriff hat.</p>

<h4>c) hochgeladene Videos</h4>
<p>Es wird gespeichert, welcher Benutzer oder welche Benutzerin welches Video hochgeladen hat. So wird zum einen sichergestellt, dass nur diese Person die Metainformationen des Videos bearbeiten kann und zum anderen kann eine missbräuchliche Nutzung der Webanwendung nachverfolgt werden.</p>
<p>Beim Upload jedes Videos muss vom hochladenden Benutzer oder der hochladenden Benutzerin separat bestätigt werden, dass die im Video zu sehenden oder zu hörenden Personen, oder im Falle von Minderjährigen deren gesetzliche Vertreter, ihr Einverständnis zur Verwendung des Videos gegeben haben.</p>
<p>Um den Rechten auf Auskunft, Sperrung und Löschung entsprechen zu können, werden pseudonymisierte Kürzel aller in einem Video vorkommenden Personen beim Video-Upload angegeben und mit dem Video gespeichert.</p>

<h4>d) Aufgaben</h4>
<p>Die in der Webanwendung erstellten Aufgaben drehen sich um hochgeladene Videos. Diese zeigen Lehr-Lern-Situationen und enthalten ggf. Referenzen auf die im Video vorkommenden Personen. Diese Informationen sind als Teil der Aufgabe gespeichert und nur den Benutzer*innen zugänglich, die Zugriffsrechte auf den jeweiligen Kurs haben.</p>

<h4>e) Lösungen zu Aufgaben</h4>
<p>Bei der Bearbeitung von Aufgaben werden die erarbeiteten Lösungen mit Referenz des Benutzers oder der Benutzerin gespeichert. Die Seminarteilnehmer und -teilnehmerinnen können diese Lösungen einsehen, um sie zu vergleichen und voneinander zu lernen.</p>

<h3>3. Dauer der Speicherung</h3>
<p>Die Erfassung findet während der Nutzung bis zum Ende der jeweiligen Sitzung statt. Die Dauer der Speicherung unterscheidet sich, für verschiedene Daten.</p>
<p>Kurse und die darin enthaltenen Aufgaben inkl. Lösungen werden für XXX Jahre in der Plattform aufbewahrt und danach gelöscht.</p>
<p>Videos und ihre Metadaten werden für XXX Jahre in der Plattform aufbewahrt und danach gelöscht.</p>
<p>In besonderen Fällen, bspw. weil ein Video einen Sachverhalt besonders anschaulich darstellt, kann die Dauer der Speicherung mit Einverständnis der Betroffenen auf XXX Jahre verlängert werden.</p>

<h2>IV. Einsatz von Cookies</h2>
<p>Zusätzlich zu den zuvor genannten Daten werden bei Ihrer Nutzung unserer Website Cookies auf Ihrem Rechner gespeichert. Bei Cookies handelt es sich um kleine Textdateien, die auf Ihrer Festplatte dem von Ihnen verwendeten Browser zugeordnet gespeichert werden und durch welche der Stelle, die den Cookie setzt (hier durch uns), bestimmte Informationen zufließen. Sie dienen dazu, das Internetangebot insgesamt nutzerfreundlicher und effektiver zu machen.</p>
<p>Diese Webumgebung nutzt folgende Arten von Cookies, deren Umfang und Funktionsweise im Folgenden erläutert werden:</p>
<ul>
    <li>
        <p>Transiente Cookies</p>
        <p>Transiente Cookies werden automatisiert gelöscht, wenn Sie den Browser schließen. Dazu zählen insbesondere die Session-Cookies. Diese speichern eine sogenannte Session-ID, mit welcher sich verschiedene Anfragen Ihres Browsers der jeweiligen Sitzung zuordnen lassen. Dadurch kann Ihr Rechner wiedererkannt werden, wenn Sie auf unsere Website zurückkehren. Die Session-Cookies werden gelöscht, wenn Sie sich ausloggen oder den Browser schließen.</p>
    </li>
    <li>Session Cookie zur Speicherung des Anmeldezustandes</li>
    <li>Cookie zum Speichern des Offen/Geschlossen Zustands der Sidebar</li>
</ul>

<h2>V. Empfänger und Kategorien von Empfängern</h2>
<p>Die verarbeiteten personenbezogenen Daten werden grundsätzlich nicht an Dritte übermittelt. Zu Forschungszwecken werden Daten durch Angestellte der TU-Dortmund verarbeitet. Veröffentlichungen die auf diesen Daten basieren erfolgen ausschließlich mit anonymisierten Daten.</p>
<h2>VI Rechte der betroffenen Person</h2>
<p>Werden personenbezogene Daten von Ihnen verarbeitet, sind Sie betroffene Person i.S.d. DSGVO und es stehen Ihnen folgende Rechte gegenüber dem Verantwortlichen zu:</p>
<p>Wenn sie ihre Rechte in Anspruch nehmen wollen, wenden Sie sich bitte an den Datenschutzbeauftragten der TU Dortmund.</p>
<h3>1. Auskunft (Art 15 DSGVO)</h3>
<p>Sie haben das Recht auf Auskunft über Sie betreffende personenbezogene Daten, die erhoben, verarbeitet oder ggf. an Dritte übermittelt werden.</p>
<h3>2. Widerspruch (Art. 21 DSGVO)</h3>
<p>Sie haben das Recht gegen die Verarbeitung Ihrer personenbezogenen Daten Widerspruch einzulegen, soweit die Verarbeitung auf der Grundlage von Art. 6 (1) e oder f DSGVO erfolgt.</p>
<h3>3. Löschung (Art 17 DSGVO)</h3>
<p>Insbesondere nach Ablauf der gesetzlich vorgeschriebenen Aufbewahrungsfristen haben Sie ein Recht auf Löschung Ihrer Daten.</p>
<h3>4. Einschränkung der Verarbeitung (Art 18 DSGVO)</h3>
<p>In besonderen Fällen haben Sie das Recht auf Einschränkung der Verarbeitung. Dies ist dann der Fall, wenn die Datenverarbeitung unrechtmäßig sein sollte, Sie die Richtigkeit der erhobenen Daten bestreiten oder ein Widerspruch gegen die Verarbeitung eingelegt haben. Ebenso können Sie eine Einschränkung der Verarbeitung verlangen, wenn die Daten aufgrund der Zweckerreichung einer Löschpflicht unterliegen, Sie sie jedoch zur Geltendmachung von rechtlichen Ansprüchen benötigen. Eine Einschränkung der Verarbeitung müssen Sie beantragen.</p>
<h3>5. Berichtigung (Art 16 DSGVO)</h3>
<p>Sie haben das Recht auf Berichtigung unrichtiger personenbezogener Daten.</p>
<h3>6. Recht auf Widerruf der datenschutzrechtlichen Einwilligungserklärung (Art 7 DSGVO)</h3>
<p>Sie haben das Recht, Ihre datenschutzrechtliche Einwilligungserklärung jederzeit zu widerrufen. Durch den Widerruf der Einwilligung wird die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung nicht berührt.</p>
<h3>7. Recht auf Beschwerde bei einer Aufsichtsbehörde</h3>
<p>Sie können sich jederzeit mit allen Fragen zum Datenschutz und um sich zu beschweren an eine Datenschutzaufsichtsbehörde wenden. Zuständig ist in unserem Fall die Landesbeauftragte für Datenschutz und Informationsfreiheit in Nordrhein-Westfalen.</p>
<p>Bitte beachten Sie, dass diese Datenschutzerklärung nur für die Webplattform Degree 4.0 (degree40.tu-dortmund.de) gilt.</p>

<h2>Name und Anschrift des Verantwortlichen</h2>
<p>Der Verantwortliche im Sinne der Datenschutz-Grundverordnung und anderer nationaler Datenschutzgesetze der Mitgliedsstaaten sowie sonstiger datenschutzrechtlicher Bestimmungen ist die:</p>
<p>
    TU Dortmund<br/>
    Der Rektor<br/>
    Technische Universität Dortmund<br/>
    August-Schmidt-Straße 4<br/>
    44227 Dortmund<br/>
    Telefon: 0231 755-1<br/>
</p>
