<div class="header">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/">Degree 4.0</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_exercise-overview') }}">Übersicht</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_mediathek-index') }}">Mediathek</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Administration</a>
                </li>
                <li class="nav-item" style="display: none;">
                    <a class="nav-link" href="{{ path('app_subtitle-editor') }}">Subtitle Editor</a>
                </li>
            </ul>

            <div class="my-2 my-lg-0">
                <i class="fas fa-user"></i> {{ app.user.username }}
                <a href="/logout">Logout</a>
            </div>
        </div>
    </nav>
</div>

