{#<h1>Nutzungsbedingungen</h1>#}
<div class="data-privacy">
    <h2>I Allgemeine Vorbemerkungen</h2>

    <p>
        Die Webplattform degree40.tu-dortmund.de (Webplattform) wird im Projekt DEGREE 4.0 unter der Leitung von Prof. Dr. Stephan Hußmann entwickelt und beforscht (Projektwebseite: degree.tu-dortmund.de). Sie darf von Lehrenden und Studierenden der Technischen Universität Dortmund (TU Dortmund) im Rahmen von Lehr- und Forschungstätigkeiten genutzt werden. Lehrende können mit der Plattform videobasierte, digitale und barrierefreie Lehr-Lernsituationen für Studierende der TU Dortmund gestalten. Lehramtsstudierende können mit der Plattform die Aufgaben- und Fragestellungen dieser Lehr-Lernsituationen bearbeiten und so fachliche und fachdidaktische Inhalte ihres Studiengangs erarbeiten.
    </p>

    <h2>II Registierung</h2>

    <p>
        Für die Nutzung der Webplattform ist eine zusätzliche Registrierung notwendig. Diese erfolgt automatisch beim ersten Anmelden an der Plattform über den SAML-Login mit einem UniAccount der TU Dortmund. Die Webplattform darf nach den Maßgaben der nachfolgenden Regeln genutzt werden.
Registrierte Nutzer:innen können sich von der Webplattform abmelden, indem sie eine E- Mail an degree40@sandstorm.de senden. Alle gespeicherten Daten der Nutzer:innen werden daraufhin gelöscht.
    </p>

    <h2>III Regeln</h2>

    <ul>
        <li>
            Diese Webplattform darf ausschließlich von Lehrenden und Studierenden der TU Dortmund im Rahmen von Lehr- und Forschungstätigkeiten genutzt werden.
        </li>

        <li>
            Der Download von Videos, der über das Abspielen und Bearbeiten der Videos mit der Webplattform hinausgeht, ist verboten.
        </li>

        <li>
            Mit dem Upload von Inhalten auf die Webplattform und der Erstellung von Inhalten auf der Webplattform erteilen die Nutzer:innen ein einfaches, räumlich und zeitlich uneingeschränktes Nutzungsrecht für die von den Nutzer:innen erstellten Inhalte.
        </li>

        <li>
            Es dürfen nur Inhalte (z.B. Videos) hochgeladen werden, für deren Upload die Nutzer:innen berechtigt sind und deren Upload nicht gegen Rechte Dritter verstößt. Mit dem Upload versichern die Nutzer:innen, über alle hierfür erforderlichen Rechte zu verfügen (z.B. in Form einer Datenschutzerklärung)
        </li>

        <li>
            Die Nutzer:innen verpflichten sich, keine Inhalte zu veröffentlichen oder zu verbreiten, die gegen geltendes Recht oder die guten Sitten verstoßen. Nicht erlaubt sind insbesondere rechtswidrige, pornografische oder menschenverachtende Inhalte, Inhalte, die Werbung beinhalten sowie Inhalte, die Polemik, Propaganda, Provokationen oder Beleidigungen enthalten.
        </li>

        <li>
            Die TU Dortmund übernimmt keine Gewähr für jegliche Art von bereit gestellten Inhalten der Nutzer:innen.
        </li>

        <li>
            Die TU Dortmund übernimmt keine Gewähr für jegliche Art von bereit gestellten Inhalten der Nutzer:innen.
        </li>

        <li>
            Die TU Dortmund behält sich das Recht vor, Inhalte ohne Angabe von Gründen zu bearbeiten oder zu löschen. Bei Vorliegen eines wichtigen Grundes ist die TU Dortmund ferner berechtigt, Nutzer:innen von der weiteren Nutzung der Webplattform auszuschließen.
        </li>
    </ul>

    <h2>IV Einwilligung der Betroffenen</h2>

    <p>
        Nutzer:innen, die Videos auf die Webplattform hochladen, bestätigen, dass die datenschutzrechtliche Einwilligung der betroffenen Personen schriftlich eingeholt wurde, bei minderjährigen Betroffenen von deren gesetzlichen Vertretern, und wirksam vorliegt. Die Betroffenen wurden über ihre Rechte im Rahmen der Datenschutzgrundverordnung informiert. Weiterhin wird bestätigt, dass die hochgeladenen Inhalte (insbesondere Videos) mit pseudonymisierten Informationen über die abgebildeten oder zu hörenden Personen versehen wurden.
    </p>

    <h2>V Datenschutz</h2>

    <p>
        Informationen zum Datenschutz dieser Webplattform enthält die <a href="{{ path('data-privacy') }}" role="link">Datenschutzerklärung</a>.
    </p>

    <h2>VI Kontakt</h2>

    <p>
        Für alle Fragen zu diesen Nutzungsbedingungen wenden Sie sich an <a href="mailto:maximilian.gerick@tu-dortmund.de">maximilian.gerick@tu-dortmund.de</a>. Für technische Fragen oder Fehlermeldungen senden Sie bitte eine E-Mail an <a href="mailto:degree40@sandstorm.de">degree40@sandstorm.de</a>.
    </p>

    <h2>VII Name und Anschrift des Verantwortlichen</h2>

    <p>
        Der Verantwortliche für diese Webplattform ist die:
    </p>

    <address>
        TU Dortmund</br>
        Der Rektor</br>
        August-Schmidt-Str. 4<br/>
        44227 Dortmund<br/>
        Telefon: 0231 755-1<br/>
    </address>
</div>
