{#<h1>Nutzungsbedingungen</h1>#}

<h2>Allgemeine Vorbemerkungen</h2>
<p>Diese Webplattform (degree40.tu-dortmund.de) richtet sich an Lehrende und Lernende der TU-Dortmund. Die Nutzung ist nur im Rahmen von Lehrveranstaltungen zulässig.</p>
<p>Mit dem Upload von Inhalten auf die Webplattform und der Erstellung von Inhalten auf der Webplattform erteilst du der TU-Dortmund ein nicht-exklusives, permanentes, unwiderrufliches und unbegrenztes Nutzungsrecht für die von dir erstellten Inhalte.</p>

<h2>I Regeln</h2>
<p>Diese Webplattform dient der Durchführung digitaler Lehrveranstaltungen anhand von Videomaterial.</p>
<p>Nicht erlaubt sind unter anderem rechtswidrige, pornografische oder menschenverachtende Inhalte, sowie Inhalte, die Polemik, Propaganda, Provokationen oder Beleidigungen enthalten.</p>
<p>Es dürfen nur Inhalte (Videos, Dokumente o.Ä.) hochgeladen werden, für deren Upload der Benutzer oder die Benutzerin berechtigt ist und deren Upload gegen keine anderweitigen Lizenz- oder Urheberrechte verstößt.</p>
<p>Die TU-Dortmund behält sich das Recht vor, Inhalte ohne Angabe von Gründen zu bearbeiten oder zu löschen.</p>

<h2>II Einwilligung der Betroffenen</h2>
<p>Der hochladende Nutzer bzw. die hochladende Nutzerin bestätigt, dass die datenschutzrechtliche Einwilligung der betroffenen Personen schriftlich eingeholt wurde, bei minderjährigen Betroffenen von deren gesetzlichen Vertretern, und wirksam vorliegt. Die Betroffenen wurden über ihre Rechte im Rahmen der Datenschutzgrundverordnung informiert.</p>
<p>Weiterhin wird bestätigt, dass die hochgeladenen Inhalte, insbesondere Videos, mit pseudonymisierten Information über die abgebildeten oder zu hörenden Personen versehen wurden.</p>

<h2>III Datenschutz</h2>
<p>Informationen zum Datenschutz dieser Webplattform enthält die Datenschutzerklärung.</p>

<h2>IV Kontakt</h2>
<p>Für alle Fragen zu diesen Nutzungsbedingungen kannst du dich an XXX wenden.</p>
<p>Für technische Fragen oder Fehlermeldungen sende bitte eine E-Mail an degree40@sandstorm.de.</p>

<h2>Name und Anschrift des Verantwortlichen</h2>
<p>Der Verantwortliche für diese Webplattform ist die:</p>
<address>
    TU Dortmund<br/>
    Der Rektor<br/>
    Technische Universität Dortmund<br/>
    August-Schmidt-Straße 4<br/>
    44227 Dortmund<br/>
    Telefon: 0231 755-1<br/>
</address>
