.accordion {
    overflow: hidden;
    margin-bottom: 1rem;

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: $theme__spacing--small;
        margin-bottom: 0;

        i {
            margin: 0 $theme__spacing--small;
            @include transition(transform 0.2s linear);
        }
    }

    &__content {
        visibility: collapse;
        height: 0;
        margin-top: 0;
    }

    &--is-open {
        .accordion__title {
            i {
                transform: rotate(90deg);
            }
        }

        .accordion__content {
            visibility: visible;
            height: inherit;
            margin-top: $theme__spacing--base;
        }
    }
}
