**/*.log
**/*.md
**/*.php~
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile
**/Thumbs.db
.editorconfig
api/.env.*.local
api/.env.local
api/.env.local.php
api/.php_cs.cache
api/bin/*
!api/bin/console
api/build/
api/docker/db/data/
api/helm/
api/public/bundles/
api/var/
api/vendor/
api/node_modules/
