.button-checkbox {
    position: relative;
    display: inline-block;
    overflow: hidden;

    input[type='checkbox'] {
        position: absolute;
        left: -20px;
        width: 0;
        height: 0;
        outline: none;
        border: none;

        & ~ label {
            border-color: $theme__color__red;

            color: $theme__color__red;

            i.fa-times {
                margin: 0;
                margin-right: 10px;
                display: inline-block;
            }

            i.fa-check {
                margin: 0;
                margin-right: 10px;
                display: none;
            }
        }

        &:focus ~ label {
            background-color: $theme__color__secondary--dark !important;
            border-color: $theme__color__secondary--dark !important;

            color: $theme__color__white;
        }

        &:checked ~ label {
            background-color: $theme__color__primary;
            border-color: $theme__color__primary;

            color: $theme__color__white;

            i.fa-check {
                display: inline-block;
            }

            i.fa-times {
                display: none;
            }
        }

        &:disabled ~ label {
            background-color: $theme__color__white !important;
            border-color: $theme__color__grey--light !important;

            color: $theme__color__grey !important;

            cursor: default;
        }

        &:disabled:checked ~ label {
            background-color: $theme__color__grey--light !important;
        }
    }
}
