.dropzone {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px dashed $theme__color__grey--dark;

    &:hover {
        border-style: solid;
        border-color: $theme__color__primary;
    }

    &.dz-clickable {
        i {
            display: none;
        }
    }
}
