{% extends 'BaseNoHeader.html.twig' %}

{% block title %}Datenschutz{% endblock %}

{% block body %}
    <div class="container">
        <header class="content-header">
            <h3>Datenschutz</h3>
        </header>
    </div>

{% endblock %}
