{% extends 'BaseNoHeader.html.twig' %}

{% block title %}Impressum{% endblock %}

{% block body %}
    <div class="container">
        <header class="content-header">
            <h3>Impressum</h3>
        </header>
    </div>
{% endblock %}
