{% extends 'BaseNoHeader.html.twig' %}

{% block title %}Nutzungsbedingungen{% endblock %}

{% block body %}
    <div class="container text-justified">
        <header class="content-header">
            <h1>Nutzungsbedingungen</h1>
        </header>
        {{ include('Partials/TermsOfUseContent.html.twig') }}
    </div>

{% endblock %}
