{% for exercise in exercises %}
    <a href="{{ path('app_exercise-edit', {id: exercise.id}) }}" class="tile">
        <div class="tile__content">
            <i class="tile__icon fas fa-film"></i>
            <span>{{ exercise.name }}</span>
        </div>
    </a>
{% endfor %}