{% extends 'BaseFullscreen.html.twig' %}

{% block title %}Aufgaben Übersicht{% endblock %}

{% block body %}
    {{ include('Partials/Sidebar.html.twig', {sidebarItems: sidebarItems}) }}
    <div class="content-with-sidebar">
        Übersicht
    </div>



{% endblock %}
