{% extends 'BaseWithSidebar.html.twig' %}

{% block title %}Aufgaben Übersicht{% endblock %}

{% block sidebar %}
    {{ include('ExerciseOverview/Sidebar.html.twig', {sidebarItems: sidebarItems, currentItem: false}) }}
{% endblock %}

{% block body %}
    <header class="content-header">
        <h3>Alle Aufgaben...</h3>
    </header>

    {{ include('ExerciseOverview/GroupedExercises.html.twig', {groupedExercises: groupedExercises}) }}
{% endblock %}
