{% extends 'BaseFullscreen.html.twig' %}

{% block title %}Aufgaben Übersicht{% endblock %}

{% block body %}
    {{ include('ExerciseOverview/Sidebar.html.twig', {sidebarItems: sidebarItems, currentItem: false}) }}
    <div class="content-with-sidebar">
        <h3>Alle Aufgaben...</h3>
        <div class="tiles">
            {{ include('ExerciseOverview/Exercises.html.twig', {exercises: exercises}) }}
        </div>
    </div>
{% endblock %}
