{% extends 'BaseWithSidebar.html.twig' %}

{% block title %}Aufgaben Übersicht{% endblock %}

{% block sidebar %}
    {{ include('ExerciseOverview/Sidebar.html.twig', {sidebarItems: sidebarItems, currentItem: course}) }}
{% endblock %}

{% block body %}
    <header class="content-header">
        <h3>Alle Aufgaben für {{ course.name }}</h3>
        {% if is_granted('create', course) %}
            <a href="{{ path('exercise-overview__exercise--new', {courseId: course.id}) }}" class="btn btn-primary">
                <i class="fas fa-plus-circle"></i> Neue Aufgabe
            </a>
        {% endif %}
    </header>

    {{ include('ExerciseOverview/GroupedExercises.html.twig', {groupedExercises: groupedExercises}) }}
{% endblock %}
