{% extends 'BaseFullscreen.html.twig' %}

{% block title %}Aufgaben Übersicht{% endblock %}

{% block body %}
    {{ include('ExerciseOverview/Sidebar.html.twig', {sidebarItems: sidebarItems, currentItem: course}) }}
    <div class="content-with-sidebar">
        <h3>Alle Aufgaben für {{ course.name }}</h3>
        {{ include('ExerciseOverview/Exercises.html.twig', {exercises: course.exercises}) }}
    </div>
{% endblock %}
