<div class="sidebar">
    <ul>
        {% for item in sidebarItems %}
            <li class="sidebar-item">
                <a href="#">{{ item.label }}</a>
                <ul>
                    {% for course in item.courses %}
                        <li class="sidebar-item">
                            <a class="nav-link" href="{{ path('app_exercise-overview-show-course', {id: course.id}) }}">{{ course.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>