{#
    - exercise -> Name of model which is the main form
    - phases -> name of property (contains ExercisePhase objects)
    - entry -> DELIMITER, hardcoded string ---------- Boundary: here we enter the ExercisePhase object
    - definition -> name of property in ExercisePhase object
    - row -> normal widget postfix

 #}
{% block _exercise_phases_entry_definition_widget %}
    <div data-react-widget="JsonSchemaEditor">XXA</div>
{% endblock %}
