{#
    - exercise -> Name of model which is the main form
    - phases -> name of property (contains ExercisePhase objects)
    - entry -> DELIMITER, hardcoded string ---------- Boundary: here we enter the ExercisePhase object
    - definition -> name of property in ExercisePhase object
    - row -> normal widget postfix

 #}
{% block _exercise_phases_entry_definition_widget %}
    <div class="json-schema-editor">
        <input {{ block('widget_attributes') }} type="hidden" value="{{ value|json_encode|e('html_attr') }}" />
        <div data-id="{{ id }}" data-react-widget="JsonSchemaEditor" data-react-props="{{ value|json_encode|e('html_attr') }}"></div>
    </div>

{% endblock %}
