{% extends 'BaseNoHeader.html.twig' %}

{% block title %}Subtitle Editor{% endblock %}

{% block body %}
    {% if video.encodingStatus == 1 %}
        <div
            data-controller="subtitleEditor"
            class="subtitle-editor"
            data-subtitleEditor-props="{{ { video: videoMap, updateUrl: updateUrl } | json_encode|e('html_attr')}}"
        >
            <div class="loading-screen">
                <i class="fas fa-spinner fa-spin"></i>
            </div>
        </div>
    {% elseif video.encodingStatus == 3 %}
        <div class="alert alert-danger">
            Video-Encoding fehlgeschlagen...
        </div>
    {% else %}
        <div class="alert alert-info">
            Video-Encoding läuft noch...
        </div>
    {% endif %}
    <footer class="footer">
        <a class="btn btn-outline-primary" href="{{ path('mediathek--index') }}">Speichern</a>
    </footer>
{% endblock %}
