{% extends 'BaseFullscreen.html.twig' %}

{% block title %}Subtitle Editor{% endblock %}

{% block body %}
    <div data-controller="react" class="subtitle-editor" data-react-widget="SubtitleEditor">
        Rendering...
    </div>
{% endblock %}
