{% extends 'Base.html.twig' %}

{% block title %}Subtitle Editor{% endblock %}

{% block body %}
    <h1>Subtitle Editor</h1>
    <div data-react-widget="SubtitleEditor">
        Rendering...
    </div>
    <div id="subtitle-editor">

    </div>
{% endblock %}
