{% extends 'BaseFullscreen.html.twig' %}

{% block title %}Subtitle Editor{% endblock %}

{% block body %}
    <div class="subtitle-editor" data-react-widget="SubtitleEditor">
        Rendering...
    </div>
{% endblock %}
