.main-header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;

    background-color: $theme__color__white;

    z-index: 9000;

    @include mq(medium) {
        border-bottom: 4px solid $theme__color__primary;
    }
}
