$tileHeight: 200px;
$tileHeight--small: 150px;

.tile {
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;

    input[type='checkbox'] {
        display: none;
    }

    &:focus-within {
        .tile__actions {
            display: block !important;

            transform: scaleY(1) !important;
        }

        .tile__content {
            color: $theme__color__secondary--dark;
            border-color: $theme__color__secondary--dark;
        }
    }

    &:hover {
        text-decoration: none;
    }

    &:hover .tile__content {
        border-color: $theme__color__primary--dark;

        text-decoration: none;
    }

    &:focus .tile__content {
        color: $theme__color__secondary--dark;
        border-color: $theme__color__secondary--dark;
    }

    &--active {
        .tile__content {
            background-color: $theme__color__primary;
            border-color: $theme__color__primary;

            color: $theme__color__white;
        }

        .tile__extension {
            border-color: $theme__color__primary;
        }
    }

    &:active .tile__content {
        color: $theme__color__grey--dark !important;
        border-color: $theme__color__grey--dark !important;
    }

    &--disabled {
        opacity: 0.5;

        .tile__content {
            cursor: default;
            border-color: $theme__color__grey--light;

            &:hover {
                border-color: $theme__color__grey--light;
            }

            &:active {
                border-color: $theme__color__grey--light !important;
            }
        }
    }

    &--with-extension {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        .tile__content {
            cursor: default;
        }

        &:focus-within {
            .tile__content {
                border-color: $theme__color__primary--dark;
                color: $theme__color__white;
            }
        }
    }

    &--small {
        .tile__content {
            height: $tileHeight--small;
            width: $tileHeight--small;
        }
    }

    &--status-0 {
        .tile__content {
            border-style: dashed;
        }
    }

    &--is-new {
        .ribbon {
            display: block;
        }
    }
}

.tile__content {
    height: $tileHeight;
    width: $tileHeight;
    display: block;
    margin: 0;
    padding: 10px;

    text-align: center;

    border: 1px solid $theme__color__primary;

    cursor: pointer;
}

.tile__title {
    display: inline-block;
    width: 100%;

    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;

    overflow: hidden;
}

.tile__date,
.tile__phases {
    display: inline-block;
    width: 100%;

    text-align: left;
    font-size: $base__fontSize--tiny;
}

.tile__action-icon {
    position: absolute;
    right: 10px;
    bottom: 10px;

    color: $theme__color__primary;
}

.tile__status {
    position: absolute;
    right: 10px;
    bottom: 10px;

    &--0 {
        color: $theme__color__red;
    }

    &--1 {
        color: $theme__color__primary;
    }

    &--2 {
        color: $theme__color__secondary;
    }
}

.tile__icon {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;

    font-size: 4em;
}

.tile__actions {
    position: absolute;
    height: auto;
    width: 100%;
    top: 0;

    background-color: $theme__color__white;
    border: 1px solid $theme__color__primary;

    transform: scaleY(0);
    transform-origin: top left;
    transition-duration: 0.2s;
    z-index: 100;

    i {
        width: 25px;

        text-align: center;
    }

    a {
        display: block;
        width: 100%;
        padding: 5px;

        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 0.9rem;
    }
}

.tile__extension {
    position: relative;
    height: $tileHeight;
    width: 400px;
    padding-bottom: 50px;

    border: 1px solid $theme__color__grey;
}

.tile__extension-content {
    width: 100%;
    height: 100%;
    padding: 10px;

    overflow-y: scroll;
}

.tile__extension-actions {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 5px;

    text-align: right;
}
