$tileHeight: 200px;
$tileHeight--small: 150px;

.tile {
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;

  input[type='checkbox'] {
    display: none;

    &:checked ~ .tile__actions {
      display: block;

      transform: scaleY(1);
    }
  }

  &:hover {
    text-decoration: none;
  }

  &--active {
    .tile__content {
      background-color: $theme__color__green;

      color: $theme__color__white;
    }

    .tile__extension {
      border-color: $theme__color__green;
    }
  }

  &--disabled {
    opacity: 0.5;
  }

  &--with-extension {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &--small {
    .tile__content {
      height: $tileHeight--small;
      width: $tileHeight--small;
    }
  }

  &--video {
    .tile__content {
      width: $tileHeight;
      height: $tileHeight;
      padding: 0;
    }
  }
}

.tile__content {
  height: $tileHeight;
  width: $tileHeight;
  display: block;
  margin: 0;
  padding: 10px;

  text-align: center;

  background-color: $theme__color__grey;

  cursor: pointer;

  &:hover {
    background-color: $theme__color__green;

    text-decoration: none;
    color: $theme__color__white;
  }
}

.tile__title {
  display: inline-block;
  width: 100%;

  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;

  overflow: hidden;
}

.tile__date, .tile__phases {
  display: inline-block;
  width: 100%;

  text-align: left;
  font-size: $base__fontSize--smaller;
}

.tile__status {
  position: absolute;
  right: 10px;
  bottom: 10px;

  &--0 {
    color: $theme__color__red;
  }

  &--1 {
    color: $theme__color__green;
  }

  &--2 {
    color: $theme__color__orange;
  }
}

.tile__image {
  height: $tileHeight * 0.7;;
  width: 100%;
  margin-bottom: 10px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}

.tile__icon {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;

  font-size: 4em;
}

.tile__actions {
  position: absolute;
  height: auto;
  width: 100%;

  background-color: $theme__color__white;
  border: 1px solid $theme__color__green;

  transform: scaleY(0);
  transform-origin: top left;
  transition-duration: 0.2s;
  z-index: 100;

  a {
    display: block;
    width: 100%;
    padding: 5px;

    border-bottom: 1px solid $theme__color__green;

    text-decoration: none;

    &:last-of-type {
      border-bottom: none;
    }
  }
}

.tile__extension {
  position: relative;
  height: $tileHeight;
  width: 400px;
  padding-bottom: 50px;

  border: 1px solid $theme__color__grey;
}

.tile__extension-content {
  width: 100%;
  height: 100%;
  padding: 10px;

  overflow-y: scroll;
}

.tile__extension-actions {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 5px;

  text-align: right;
}