$tileHeight: 200px;
$tileHeight--small: 150px;

.video-tile {
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;

    &:hover {
        text-decoration: none;
    }

    .video-tile__date,
    .video-tile__title {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.video-tile--show-actions {
    .tile__actions {
        display: block !important;

        transform: scaleY(1) !important;
    }

    .video-tile__content {
        color: $theme__color__secondary--dark;
        border-color: $theme__color__secondary--dark;
    }
}

.video-tile__content {
    position: relative;

    height: $tileHeight;
    width: $tileHeight;
    display: block;
    margin: 0;

    text-align: center;

    color: $theme__color__primary;
    border: 1px solid $theme__color__primary;

    cursor: pointer;

    &:hover {
        color: $theme__color__primary--dark;
        border-color: $theme__color__primary--dark;
    }

    &:focus {
        color: $theme__color__secondary--dark;
        border-color: $theme__color__secondary--dark;
    }

    &:active {
        color: $theme__color__grey--dark;
        border-color: $theme__color__grey--dark;
    }

    .video-tile__favor-button {
        position: absolute;

        border: none;
        padding: 0;
        margin: 0;

        top: 10px;
        right: 10px;
        width: 35px;
        height: 35px;
        border-radius: 50%;

        font-size: 25px;
        color: $theme__color__gold;
        background: #22222295;
    }

        .video-tile__favor-button:hover,
        .video-tile__favor-button:active,
        .video-tile__favor-button:focus {
            color: $theme__color__secondary;
        }

    .tile__date,
    .tile__title {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.video-tile__image {
    height: $tileHeight * 0.6;
    width: 100%;
    margin-bottom: 10px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
