.material {
    list-style: none;
    margin-top: $theme__spacing__large;
}

.material-tile__date {
    color: $theme__color__grey--dark;
}

.material-tile__phase-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
