$tileHeight: 200px;

.video-checkbox {
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;

    input[type='checkbox'] {
        display: none;

        &:checked ~ .video-checkbox__label {
            background-color: $theme__color__primary;
            border-color: $theme__color__primary;

            color: $theme__color__white;
        }

        &:disabled ~ .video-checkbox__label {
            opacity: 0.5;
            cursor: default;
        }
    }

    &:hover {
        text-decoration: none;
    }
}

.video-checkbox__label {
    height: $tileHeight;
    width: $tileHeight;
    display: block;
    margin: 0;
    padding: 10px;

    text-align: center;

    background-color: $theme__color__grey--light;
    border: 1px solid $theme__color__grey--light;

    cursor: pointer;

    &:hover {
        border-color: $theme__color__primary;

        text-decoration: none;
    }
}

.video-checkbox__image {
    height: $tileHeight * 0.6;
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}
