{% extends 'BaseNoHeader.html.twig' %}

{% block body %}
    <div class="container text-justified">
        {{ include('Partials/TermsOfUseContent.html.twig') }}
    </div>
    <footer class="footer footer--center">
        <a class="button button--type-primary" href="{{ path('app_terms-of-use', {accepted: true}) }}" role="link">Nutzungsbedingungen akzeptieren</a>
    </footer>
{% endblock %}

