$theme__color__white: #fff;
$theme__color__black: #000;
$theme__color__grey: #ededed;
$theme__color__grey--darker: #d4d4d4;
$theme__color__grey--dark: #333333;

$theme__color__green: #84B819;
$theme__color__green--light: #a3e41f;
$theme__color__green--dark: #639A00;
$theme__color__orange: #D98207;
$theme__color__orange--dark: #D89326;
$theme__color__orange--darker: #CA7406;
$theme__color__red: #cc3f2d;
$theme__color__blue: #2196f3;
$theme__color__blue--dark: #1f2133;


// Add more colors here

$theme__content__boxShadow: 0 5px 5px 0 transparentize($theme__color__black, 0.8);

$theme__heading__fontWeight: 400;
$theme__default__fontWeight: 400;

$theme__font__akkurat: 'Akkurat-Regular', Helvetica, Arial, sans-serif;
$theme__font__akkurat--bold: 'Akkurat-Bold', Helvetica, Arial, sans-serif;

$theme__default__fontStack: $theme__font__akkurat;
$theme__bold__fontStack: $theme__font__akkurat--bold;

$base__fontSize: 16px;
$base__fontSize--larger: 18px;
$base__fontSize--smaller: 14px;
$base__fontSize--tiny: 12px;
$base__lineHeight: 1.5;
$base__heading__lineHeight: 1.3;

$h1__fontSize: 2.2rem;
$h2__fontSize: 1.8rem;
$h3__fontSize: 1.5rem;

$button__height: 40px;
$button__height--large: 50px;
$button__height--larger: 60px;

$header__height: 100px;
$header__height--small: 80px;

$breakpoints: (
        xxsmall: "(max-width: 374px)",
        xsmall: "(max-width: 500px)",
        small: "(max-width: 768px)",
        medium: "(max-width: 996px)",
        large: "(max-width: 1400px)",
        xlarge: "(max-width: 1800px)"
);

@font-face {
  font-family: Akkurat-Regular;
  src: url(../../fonts/lineto-akkurat-pro-regular.eot);
  src: url(../../fonts/lineto-akkurat-pro-regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/lineto-akkurat-pro-regular.woff2) format("woff2"), url(../../fonts/lineto-akkurat-pro-regular.woff) format("woff")
}

@font-face {
  font-family: Akkurat-Bold;
  src: url(../../fonts/lineto-akkurat-pro-bold.eot);
  src: url(../../fonts/lineto-akkurat-pro-bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/lineto-akkurat-pro-bold.woff2) format("woff2"), url(../../fonts/lineto-akkurat-pro-bold.woff) format("woff")
}