.material-list {
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .btn {
      white-space: nowrap;
    }
  }
}

.material-list__name {
  display: inline-block;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}