<div id="sidebar" class="sidebar">
    <div class="sidebar__group">
        <header id="heading-phases">
            <h5>
                <button class="sidebar__toggle btn" data-toggle="collapse" data-target="#collapse-phases"
                        aria-expanded="true" aria-controls="collapse-phases">
                    Phasen <i class="fas fa-chevron-up"></i><i class="fas fa-chevron-down"></i>
                </button>
            </h5>
        </header>
        <div id="collapse-phases" class="collapse show" aria-labelledby="heading-phases" data-parent="#sidebar">
            <div class="sidebar__group-body">
                <ul>
                    {% for item in sidebarItems %}
                        <li class="sidebar-item {{ (item.id == currentItem.id) ? 'sidebar-item--active' : '' }}">
                            <a class="nav-link"
                               href="{{ path('exercise-overview__exercise--show', {id: exercise.id, phaseIndex: loop.index - 1, showSolution: showSolution}) }}">{{ item.name }}</a>
                        </li>

                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>

</div>