{% extends 'Base.html.twig' %}

{% block title %}Degree 4.0 - Zugriff verweigert{% endblock %}

{% block body %}
    <header class="content-header">
        <h3>Zugriff verweigert</h3>
    </header>

    <p>
        Du hast leider keine Berechtigung für diese Seite.
    </p>
{% endblock %}
