**/*.log
**/*.md
**/*.php~
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile
**/Thumbs.db
.editorconfig
app/.env.*.local
app/.env.local
app/.env.local.php
app/.php_cs.cache
app/bin/*
!app/bin/console
app/build/
app/docker/db/data/
app/helm/
app/public/bundles/
app/var/
app/vendor/
app/node_modules/
