@import 'NumberField.scss';

.time-input-wrapper {
    margin-bottom: $theme__spacing--large;
}

.time-input {
    margin-top: $theme__spacing--base;
    margin-bottom: $theme__spacing--small;

    .number-field input {
        border: none;
        width: 8rem;
    }

    .input[role='group'] {
        display: flex;
        justify-content: space-evenly;
    }
}

.time-input__label {
    margin-bottom: $theme__spacing--small;
}
