.navigation {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;

    align-items: center;
    min-height: 46px;

    background-color: $theme__color__white;

    &--desktop {
        position: sticky;
        top: 46px;
        left: 0;
        z-index: 10;
        width: 100%;

        justify-content: center;
        margin: 0 auto;

        border-bottom: 4px solid $theme__color__primary;

        .navigation__inner {
            max-width: 1400px;
        }

        @include mq(medium) {
            display: none;
        }

        .sidebar & {
            display: none;
        }
    }

    &--mobile {
        justify-content: flex-start;
        max-width: 1400px;

        .navigation__inner {
            justify-content: flex-end;

            @include mq(medium) {
                justify-content: space-between;
            }
        }

        .navigation__items {
            display: none;

            @include mq(medium) {
                display: block;
            }
        }
    }

    @include mq(medium) {
        flex-wrap: wrap;
    }
}

.navigation__brand {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    height: 46px;

    img {
        height: 40px;
        max-width: none;
        padding: 2px;
    }

    @include mq(large) {
        padding-left: 1rem;
    }
}

.navigation__toggler {
    display: none;
    padding: 0.25rem 0.75rem;
    margin-left: auto;

    background-color: transparent;
    border: none;

    font-size: 1.25rem;
    line-height: 1;

    @include mq(medium) {
        display: block;
    }
}

.navigation__inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &.collapse {
        display: flex;
    }

    @include mq(medium) {
        flex-grow: 1;
        flex-basis: 100%;
        flex-direction: column;

        &.collapse:not(.show) {
            display: none;
        }
    }
}

.navigation__items {
    display: flex;

    @include mq(medium) {
        display: block;
    }

    @include removeListStyles();
}

.navigation__item {
    display: block;

    text-transform: uppercase;

    a {
        display: inline-block;
        padding: 0.7rem 1rem;

        text-decoration: none !important;
        color: $theme__color__grey--dark;
        font-weight: $theme__bold__fontWeight;

        &:hover,
        &:focus,
        &:focus-within {
            background-color: $theme__color__primary;

            color: $theme__color__white;
        }

        &:focus,
        &:focus-within {
            outline: none !important;

            span {
                outline: 2px solid $theme__color__grey--dark;
                outline-offset: 2px;

                &:focus:not(:focus-visible) {
                    outline: none;
                }
            }
        }
    }

    &--active a {
        background-color: $theme__color__primary;

        color: $theme__color__white;
    }
}

.navigation__user {
    display: block;
    padding-block: 0.7rem;
    padding-left: 1rem;

    @include mq(large) {
        padding-right: 1rem;
    }

    @include mq(medium) {
        border-top: 1px solid $theme__color__grey--dark;

        a {
            float: right;
        }
    }
}

.navigation__image__container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    display: flex;
    justify-content: center;
    height: 340px;
    overflow: hidden;
    padding-top: 46px;

    @include mq(medium) {
        padding-top: 50px;
    }

    @include mq(xmedium) {
        height: 300px;
    }

    @include mq(xsmall) {
        height: 200px;
    }

    .sidebar & {
        display: none;
    }
}

.navigation__image {
    max-width: 1400px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center -240px;

    @include mq(large) {
        object-position: right -190px;
    }

    @include mq(xmedium) {
        object-position: right -170px;
    }

    @include mq(medium) {
        height: auto;
        object-position: right -130px;
    }

    @include mq(small) {
        object-position: center;
        height: 100%;
    }
}
