.overview-item {
    display: grid;
    grid-template-columns: 95px 35px 1fr auto;
    align-items: center;
    gap: $theme__spacing--base;
    padding: $theme__spacing--base 0;

    text-decoration: none !important;

    border-bottom: 1px solid $theme__color__grey--light;
}

.overview-item__date {
    text-align: right;
}

.overview-item__status {
    text-align: center;

    i {
        font-size: 1rem;
    }
}

.overview-item__title {
    text-decoration: none !important;

    img {
        height: 50px;
        width: 100px;
        object-fit: cover;
        margin-right: $theme__spacing--base;
    }
}

.overview-item__actions {
    position: relative;
    display: flex;
    gap: $theme__spacing--base;
    align-items: center;
    padding-right: $theme__spacing--base;

    .button {
        display: inline-flex;
        width: 40px;

        > i {
            font-size: 1.6rem;
        }
    }

    .button:focus .overview-item__actions-dropdown,
    .button:focus-within .overview-item__actions-dropdown {
        display: flex;
    }
}

.overview-item__action-favourite {
    i {
        font-size: 1.6rem;

        transform-style: preserve-3d;
        @include transition(transform 0.5s);
    }

    &:hover,
    &:focus,
    &:active {
        i {
            // rotate icon on toggle
            transform: rotateY(180deg);
        }
    }
}

.overview-item__actions-dropdown {
    position: absolute;
    display: none;
    right: 0;
    top: 40px;
    width: max-content;
    flex-direction: column;

    background-color: $theme__color__white;
    border: 1px solid $theme__color__grey--dark;
    box-shadow: 0 0 5px 0 transparentize($theme__color__black, 0.5);
    z-index: 10;

    a {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: $theme__spacing--base;
        padding: $theme__spacing--small $theme__spacing--base;

        text-decoration: none !important;

        i {
            width: 20px;
            text-align: center;
        }
    }
}
