@import "NumberField.scss";

.time-input {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .number-field input {
        border: none;
        width: 5rem;
    }

    .input[role="group"] {
        display: flex;
        justify-content: space-evenly;
    }
}

.time-input__label {
    margin-right: $theme__spacing--base;
}

.time-input__input {
    display: inline;

    & + & {
        margin-left: $theme__spacing--base;
    }

    input + span {
        margin-left: $theme__spacing--small;
    }

    & input {
        width: 5em;
    }
}
