@import "NumberField.scss";

.time-input {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: $theme__spacing--huge;
    margin-bottom: $theme__spacing--huge;

    .number-field input {
        border: none;
        width: 8rem;
    }

    .input[role="group"] {
        display: flex;
        justify-content: space-evenly;
    }
}

.time-input__label {
    margin-right: $theme__spacing--base;
}
