$toolbarWidth: 50px;

.toolbar {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  right: 0;
  top: 0;
  width: $toolbarWidth;
  height: 100%;
  padding: 5px;
  padding-top: 20px;

  background-color: $theme__color__white;
  outline: 1px solid $theme__color__grey--darker;


  transition: width 0.2s ease 0s;
  z-index: 8000;

  &--is-visible {
  }
}

.toolbar__toggle {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  left: -40px;

  background-color: $theme__color__grey;
  border: 1px solid $theme__color__grey--darker;
}

.toolbar-item {
  margin-bottom: 10px;
  width: $toolbarWidth - 10px;
  height: $toolbarWidth - 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5em;
}