.menu {
    z-index: $theme__z-index--menu;
    position: absolute;
    bottom: 32px;

    background-color: $theme__color__grey--dark;

    color: $theme__color__white;
}

.menu__item {
    @extend .button;
    @extend .button--type-grey;
    padding: $theme__spacing--small $theme__spacing--base;
    width: 100%;

    white-space: nowrap;

    &--disabled {
        opacity: 0.5;
    }

    &--active {
        color: $theme__color__white;
        background-color: $theme__color__grey--dark;
        border-color: $theme__color__grey--dark;
    }
}

.menu__wrapper {
    position: relative;
}

.menu__backdrop {
    z-index: $theme__z-index--menu - 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
