.subtitle-editor-tool {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;

  font-size: $base__fontSize--tiny;

  .item {
    display: flex;
    align-items: center;
    padding: 5px 10px;

    border-bottom: 1px solid transparentize($theme__color__black, 0.4);

    .value {
      display: flex;
      align-items: center;

      select {
        outline: none;
        margin-left: 15px;
      }

      button {
        height: 25px;
        border: none;
        padding: 0 10px;
        margin-left: 15px;

        font-size: $base__fontSize--tiny;
        color: $theme__color__white;

        border-radius: 3px;
        outline: none;
        background-color: $theme__color__blue--dark;

        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
          color: $theme__color__white;
          background-color: $theme__color__blue;
        }

        i {
          margin-right: 5px;
        }
      }
    }
  }
}