.subtitle-editor-block {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  pointer-events: none;
  z-index: 9;
}

.subtitle-editor-block__contextmenu {
  position: absolute;
  left: 0;
  top: 0;

  z-index: 4;
  pointer-events: all;
}

.subtitle-editor-block__contextmenu-item {
  height: 30px;
  padding: 0 10px;

  line-height: 30px;
  font-size: 12px;
  color: $theme__color__grey;

  background-color: transparentize($theme__color__black, 0.75);

  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease;

  &:hover {
    color: $theme__color__white;

    background-color: $theme__color__blue;
  }
}

.subtitle-editor-block__item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: $theme__color__white;
  font-size: 13px;
  text-shadow: 0 1px 0 transparentize($theme__color__black, 0.5);

  background-color: transparentize($theme__color__white, 0.2);
  border-left: 1px solid transparentize($theme__color__white, 0.2);
  border-right: 1px solid transparentize($theme__color__white, 0.2);

  overflow: hidden;
  user-select: none;
  cursor: move;
  pointer-events: all;


  &:hover {
    background-color: transparentize($theme__color__white, 0.3);
  }

  &--highlight {
    background-color: transparentize($theme__color__blue, 0.5);
    border-left: 1px solid transparentize($theme__color__blue, 0.5);
    border-right: 1px solid transparentize($theme__color__blue, 0.5);
  }

  &--illegal {
    background-color: transparentize($theme__color__red, 0.5);
  }
}

.subtitle-editor-block__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 20px;

  word-break: break-all;

  p {
    margin: 5px 0;

    line-height: 1;
  }
}

.subtitle-editor-block__handle {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;

  cursor: col-resize;
  user-select: none;

  &:hover {
    background-color: transparentize($theme__color__white, 0.1);
  }
}