.schreibtisch-container {
    height: 100%;
    width: 100%;
}
.schreibtisch {
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;

    & > main {
        padding-left: $theme__spacing--base;
        padding-top: $theme__spacing--large;
        height: 100%;
    }
}

// TODO: Why can we not use relative import?
@import './assets/js/StimulusControllers/Schreibtisch/Navigation/Navigation';
@import './assets/js/StimulusControllers/Schreibtisch/Aufgaben/ExerciseList/ExerciseList';
@import './assets/js/StimulusControllers/Schreibtisch/VideoFavoriten/VideoFavorites/VideoFavorites';
@import './assets/js/StimulusControllers/Schreibtisch/Materialien/MaterialList/MaterialList';
@import './assets/js/StimulusControllers/Schreibtisch/MaterialEditor/MaterialEditorScreen';
