.video-editor__interaction-area {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  user-select: none;
  z-index: 8;
}

.video-editor__interaction-area-left,
.video-editor__interaction-area-right {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparentize($theme__color__green, 0.5);

  cursor: pointer;
  z-index: 20;
  pointer-events: all;

  &:hover {
    background-color: transparentize($theme__color__green--light, 0.5);;
  }

  &--is-disabled {
    background-color: transparentize($theme__color__green, 0.8);

    cursor: default;

    &:hover {
      background-color: transparentize($theme__color__green, 0.8);
    }
  }

  i {
    color: $theme__color__white;
  }
}

.video-editor__interaction-area-left {
  left: 0;
}

.video-editor__interaction-area-right {
  right: 0;
}
