.video-editor__media-item-list {
  background-color: $theme__color__blue--dark;

  .ReactVirtualized__Table__Grid {
    outline: none;
  }
}

.video-editor__media-item-list__table {
  font-size: $base__fontSize--tiny;

  > div {
    width: 100% !important;
  }
}

.video-editor__media-item-list__row {
  width: 100% !important;
  display: flex;
  flex-direction: row;
  align-items: center;

  @include transition(all 250ms ease);

  &--odd {
    background-color: $theme__color__grey--dark;
  }

  &--highlight {
    background-color: $theme__color__blue;
  }

  &--illegal {
    background-color: $theme__color__red;
  }
}

.video-editor__media-item-list__column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 10px 5px;

  color: $theme__color__white;

  border-bottom: 1px solid $theme__color__black;

  .input,
  .textarea {
    width: 100%;

    color: $theme__color__white;
    font-size: $base__fontSize--tiny;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    border: 1px solid $theme__color__white;
    resize: none;
    outline: none;
  }

  .textarea {
    padding: 5px;
    height: 100%;

    line-height: 1.5;
  }

  &--operation {
    width: 30px;

    i {
      font-size: 12px;
      cursor: pointer;
    }
  }

  &--time {
    width: 150px;
  }

  &--duration {
    width: 70px;
  }

  &--text {
    flex: 1;
  }
}
