.video-editor__overlay {
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;

    z-index: $theme__z-index--overlay + 1;
}

.video-editor__overlay__backdrop {
    position: fixed;
    background: rgba(0, 0, 0, 0.42);

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: $theme__z-index--overlay - 1;
}


.video-editor__overlay__wrapper {
    @extend .modal__inner;
    width: auto;
    min-width: 500px;
    max-width: 900px;
    max-height: 80%;

    z-index: $theme__z-index--overlay;

    &--fullWidth {
        width: 95%;
    }
}

.video-editor__overlay__header {
    @extend .modal__header;
}

.video-editor__overlay__content {
    @extend .modal__content;
}

.video-editor__overlay__footer {
    @extend .modal__footer;
}
