.subtitle-editor-dialog {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparentize($theme__color__black, 0.8);

  z-index: 999;
}

.subtitle-editor-dialog__inner {
  min-height: 200px;
  overflow: hidden;
  margin-top: -10px;

  background-color: $theme__color__blue--dark;
  box-shadow: 0 0 3px 0 transparentize($theme__color__black, 0.5);
  border-radius: 3px;

  @include transition(all 250ms ease 0s);
  opacity: 0;

  &--active {
    margin-top: 0;

    opacity: 1;
  }
}

.subtitle-editor-dialog__title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  margin-bottom: 10px;

  font-size: $base__fontSize--larger;
  text-shadow: 0 1px 0 transparentize($theme__color__black, 0.5);
  color: $theme__color__white;

  border-bottom: 1px solid $theme__color__black;
  background-color: $theme__color__blue--dark;
}

.subtitle-editor-dialog__cancel {
  position: absolute;
  right: 10px;
  top: 10px;

  opacity: 0.5;
  cursor: pointer;
  @include transition(all 250ms ease 0s);

  &:hover {
    opacity: 1;
  }
}