// FIXME
// we should rename these classes to something like medialane-toolbar

.video-editor-toolbar {
    display: flex;
    align-items: center;

    font-size: $base__fontSize--tiny;
    color: $theme__color__white;

    border-top: 1px solid $theme__color__grey;
    border-bottom: 1px solid $theme__color__black;
    background-color: $theme__color__grey--dark;
}

.video-editor-toolbar__item-group {
    display: flex;
    align-items: center;
    height: 100%;

    border-right: 1px solid $theme__color__black;

    .video-editor__tabs {
        margin-left: 10px;

        border-bottom: none;
    }
}

.video-editor-toolbar__item-group-label {
    margin-left: 10px;
}

.video-editor-toolbar__item {
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 100%;

    > span,
    > label {
        margin-right: 10px;
    }

    input[type='checkbox'] {
        outline: none;
    }

    input[type='range'] {
        width: 100px;
    }

    select {
        outline: none;
    }

    .video-editor__menu {
        margin: 0;
        width: max-content;

        .menu {
            width: max-content;
            border: 1px solid $theme__color__grey--light;
        }

        .menu-wrapper {
            width: max-content;
        }

        .video-editor-toolbar__menu-btn {
            width: 100%;
            padding: 2px 10px;
        }

        .menu-item {
            text-align: center;
            width: max-content;
        }
    }
}
