.video-editor {
    display: grid;
    grid-template-rows: 1fr 40px auto;

    height: 100%;

    .video-container {
        position: relative;
        background-color: black;
    }

    .video-editor__toolbar {
        display: flex;
        align-items: center;
        padding: $theme__spacing--small $theme__spacing--base;

        background-color: lightgray;

        &__button {
            height: 32px;
            width: 32px;
            padding: 0 !important;
        }

        .menu-wrapper {
            position: relative;
        }

        .menu-backdrop {
            position: fixed;
            top: 0;
            left: 0;

            height: 100%;
            width: 100%;

            z-index: $theme__z-index--menu - 1;
        }

        .menu {
            z-index: $theme__z-index--menu;
            position: absolute;
            bottom: 38px;
            background-color: $theme__color__grey--dark;
            color: $theme__color__white;
            width: 160px;

            .menu-item {
                padding: 8px;
                width: 100%;
                text-align: left;
            }
        }
    }
}
