.video-editor {
  display: flex;
  flex-direction: column;

  color: $theme__color__grey;
  font-size: $base__fontSize--smaller;

  background-color: $theme__color__black;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #666;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
}

.video-editor__main {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex: 1;

  background-color: $theme__color__black;
}

.video-editor__section {
  height: 100%;
  position: relative;
}

.video-editor__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.video-editor__right {
  flex: 1;

  background-color: $theme__color__blue--dark;

  .video-editor__section-header {
    position: relative;

    z-index: 10;
  }

  .video-editor__section-content {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 40px;
    top: 0;

    overflow: hidden;
    overflow-y: scroll;
  }
}

.video-editor__section-content {
  height: 100%;
}

.video-editor__video-codes {
  .video-editor__video-codes {

  }
}

// The videoEditor uses this to determine its height
.js-video-editor-container {
  height: 100%;
  width: 100%;
}
