{% extends 'Layouts/Default.html.twig' %}
{% block main %}
    {{ include('Partials/Header.html.twig') }}
    <main class="main main--with-header {% block layoutCssClass %}{% endblock %}">
        <div class="main-inner">
            <div id="sidebar" class="sidebar {{ sidebar_is_open }}" data-controller="sidebar">
                <div class="sidebar__toggle">
                    <button id="sidebar-toggle" class="btn btn-link btn-sm" type="button" title="Sidebar auf- und zuklappen">
                        <i class="fas fa-chevron-left"></i>
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
                <div class="sidebar__content">
                    {% block sidebar %}{% endblock %}
                    {{ include('Version.html.twig') }}
                </div>
            </div>
            <div class="content-with-sidebar">
                {{ include('Partials/FlashMessages.html.twig') }}
                {% block body %}{% endblock %}
            </div>
        </div>
    </main>
    {% block footer %}{% endblock %}
{% endblock %}
