{% extends 'Layouts/Default.html.twig' %}
{% block main %}
    {{ include('Partials/Header.html.twig') }}
    <main class="main main--with-header {% block layoutCssClass %}{% endblock %}">
        {{ include('Partials/FlashMessages.html.twig') }}
        <div class="main-inner">
            {% block body %}{% endblock %}
        </div>
    </main>
{% endblock %}
