{% extends 'Base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}

    <a href="/admin">Administration</a>

    <h2>Mediathek</h2>
    <ul>
        <li><a href="{{ path('app_videoupload') }}">Video Upload</a></li>
        <li><a href="{{ path('app_subtitle-editor') }}">Subtitle Editor</a></li>
    </ul>

{% endblock %}
