.multilane {
    display: grid;
    grid-template-columns: auto 1fr;

    padding: 0;
}

.multilane__medialane-description {
    padding: 5px;
}

.multilane__content {
    overflow: auto;
}

.multilane-filter-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;

    width: content;
}

.multilane-filter-container__toggle {
    height: 100%;
    width: content;
}

.multilane-filter__content {
    width: 400px;
    overflow: hidden;
}

.multilane-filter__components {
    padding: 10px;

    & > ul {
        padding: 0;
        list-style: none;
    }

    & input[type='checkbox'] {
        margin-right: 5px;
    }
}
