.sidebar {
  position: absolute;
  left: 0;
  width: 300px;
  height: 100%;
  padding: 10px;

  background-color: $theme__color__grey;

  overflow-y: scroll;

  .card-header {
    .btn {
      text-align: left;
    }

    > * {
      margin-bottom: 0;
    }
  }
}

.sidebar__toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-decoration: none !important;

  .fa-chevron-down {
    display: none;
  }

  &.collapsed {
    .fa-chevron-down {
      display: inline-block;
    }

    .fa-chevron-up {
      display: none;
    }
  }
}

.content-with-sidebar {
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-left: 320px;

  overflow-y: scroll;
}