.video-editor__video-codes {
    padding-left: 0;

    list-style: none;
}

.video-code {
    padding: 5px 10px;
    color: $theme__color__text;
    background-color: $theme__color__white;

    &:focus-within {
        background-color: $theme__color__grey--light !important;
        border-color: $theme__color__grey--light !important;
        box-shadow: none !important;
        outline: none !important;
    }

    &:focus {
        color: $theme__color__white !important;
        background-color: $theme__color__secondary--dark !important;
        border-color: $theme__color__secondary--dark !important;
        box-shadow: none !important;
        outline: none !important;
    }

    .video-editor__video-codes {
        display: flex;
    }

    .new-video-code {
        display: flex;
        padding: 5px 10px;
        background-color: $theme__color__white;

        &:focus-within {
            background-color: $theme__color__grey--light !important;
            border-color: $theme__color__grey--light !important;
            box-shadow: none !important;
            outline: none !important;
        }

        &:focus {
            color: $theme__color__white !important;
            background-color: $theme__color__secondary--dark !important;
            border-color: $theme__color__secondary--dark !important;
            box-shadow: none !important;
            outline: none !important;
        }

        input {
            background-color: $theme__color__white;
        }
    }
    .video-editor__video-codes {
        display: block;
        margin-top: 5px;
    }
}

.video-code__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button,
    .btn {
        margin-left: 5px;

        white-space: nowrap;
    }
}

.video-code__locked {
    padding: 5px;

    color: $theme__color__primary;
}

.video-code__color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    flex-shrink: 0;
}

.video-code__name {
    display: inline-block;
    margin-right: auto;
    width: 85%;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.new-video-code {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 5px 10px;

    input {
        margin-right: 10px;

        background-color: transparent;
    }
}
