.video-code {
    .video-editor__video-codes,
    .new-video-code {
        display: none;
    }

    &--show-children {
        .video-editor__video-codes {
            display: block;
        }

        .new-video-code {
            display: flex;
        }
    }

    .video-editor__video-codes {
        padding-top: 10px;

        background-color: $theme__color__grey--light;
    }

    .new-video-code {
        margin-bottom: 10px;
    }

    .video-code,
    .new-video-code {
        background-color: $theme__color__grey--light;
    }
}

.video-code__content {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button,
    .btn {
        margin-left: 5px;

        white-space: nowrap;
    }
}

.video-code__locked {
    padding: 5px;

    color: $theme__color__primary;
}

.video-code__color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    flex-shrink: 0;
}

.video-code__name {
    display: inline-block;
    margin-right: auto;
    width: 85%;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.new-video-code {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;

    input {
        margin-right: 10px;

        background-color: transparent;
    }
}
