.btn {
    border-radius: 0;

    &:focus {
        box-shadow: none;
    }
}

.btn-link {
    color: $theme__color__primary;

    &:hover {
        color: $theme__color__primary--dark;
    }

    &:focus {
        color: $theme__color__secondary--dark;
    }

    &:active {
        color: $theme__color__grey--dark;
    }
}

// tmp bootstrap override
.btn-primary {
    color: $theme__color__white !important;
    background-color: $theme__color__primary !important;
    border-color: $theme__color__primary !important;

    &:hover {
        background-color: $theme__color__primary--dark !important;
        border-color: $theme__color__primary--dark !important;
    }

    &:focus {
        color: $theme__color__white !important;
        background-color: $theme__color__secondary--dark !important;
        border-color: $theme__color__secondary--dark !important;
        box-shadow: none !important;
        outline: none !important;
    }

    &:active {
        color: $theme__color__white !important;
        background-color: $theme__color__grey--dark !important;
        border-color: $theme__color__grey--dark !important;
        box-shadow: none !important;
        outline: none !important;
    }

    &.disabled,
    &:disabled {
        color: $theme__color__white !important;
        background-color: $theme__color__grey--light !important;
        border-color: $theme__color__grey--light !important;
    }
}

.btn-outline-primary {
    color: $theme__color__primary;
    background-color: $theme__color__white;
    border-color: $theme__color__primary--light;

    &:hover {
        color: $theme__color__white !important;
        background-color: $theme__color__primary--dark !important;
        border-color: $theme__color__primary--dark !important;
    }

    &:focus {
        color: $theme__color__white !important;
        background-color: $theme__color__secondary--dark !important;
        border-color: $theme__color__secondary--dark !important;

        box-shadow: none !important;
        outline: none !important;
    }

    &:active {
        color: $theme__color__white !important;
        background-color: $theme__color__grey--dark !important;
        border-color: $theme__color__grey--dark !important;

        box-shadow: none !important;
        outline: none !important;
    }

    &.disabled,
    &:disabled {
        color: $theme__color__grey !important;
        background-color: $theme__color__grey--lighter !important;
        border-color: $theme__color__grey--light !important;
    }
}

.btn-group .dropdown {
    display: flex;
}
