.btn {
  border-radius: 0;
}

.btn-link {
  color: $theme__color__green;

  &:hover, &:focus, &:active {
    color: $theme__color__green--dark;
  }
}

// tmp bootstrap override
.btn-primary, .btn-primary.disabled, .btn-primary:disabled {
  background-color: $theme__color__green;
  border-color: $theme__color__green--dark;

  &:hover, &:focus, &:active {
    background-color: $theme__color__green--dark;
    border-color: $theme__color__green--dark;
  }
}

.btn-outline-primary {
  border-color: $theme__color__green--dark;

  color: $theme__color__green--dark;

  &:hover, &:focus, &:active {
    background-color: $theme__color__green !important;
    border-color: $theme__color__green--dark !important;

    color: $theme__color__white !important;
  }

  &.disabled, &:disabled {
    background-color: transparent;

    color: $theme__color__green--light;
  }
}
