a,
a.nav-link {
    color: $theme__color__primary;

    &:hover {
        color: $theme__color__primary--dark;
    }

    &:active {
        color: $theme__color__grey--dark !important;
    }

    &:focus {
        color: $theme__color__secondary--dark;
    }

    i {
        text-decoration: none !important;
    }
}

a.color-alert {
    &:hover {
        color: darken($theme__color__red, 20%);
    }

    &:active {
        color: $theme__color__grey--dark !important;
    }

    &:focus {
        color: $theme__color__secondary--dark;
    }
}
