.striped-banner {
    width: 100%;
    padding: 5px;

    background-image: linear-gradient(
        125deg,
        $theme__color__primary 25%,
        $theme__color__white 25%,
        $theme__color__white 50%,
        $theme__color__primary 50%,
        $theme__color__primary 75%,
        $theme__color__white 75%,
        $theme__color__white 100%
    );
    background-size: 24.42px 34.87px;

    text-align: center;
}

.striped-banner__text {
    display: inline-block;
    padding: 2px 10px;

    background-color: $theme__color__white;

    text-transform: uppercase;
    font-size: $base__fontSize--smaller;
}
