{% trans_default_domain 'mediathek' %}
{% for group in groupedVideos %}
    {% if group.videos|length > 0 %}
        {% set groupIdTransVar = 'mediathek.groups.' ~ (group.id) %}
        <h5>{{ groupIdTransVar | trans }}</h5>
        <hr />
        <div class="tiles">
            {% for video in group.videos %}
                {{ include('Mediathek/Video.html.twig', {video: video}) }}
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}
