{% extends 'BaseWithSidebar.html.twig' %}

{% block title %}Mediathek{% endblock %}

{% block sidebar %}
    {{ include('Mediathek/Sidebar.html.twig', {sidebarItems: sidebarItems, currentItem: false}) }}
{% endblock %}

{% block body %}
    <header class="content-header">
        <h3>Alle Videos...</h3>
        <a href="{{ path('mediathek__video--upload') }}" class="btn btn-primary">
            <i class="fas fa-plus-circle"></i>
            Neues Video
        </a>
    </header>

    <div class="tiles">
        {% for video in videos %}
            {{ include('Mediathek/Video.html.twig', {video: video}) }}
        {% endfor %}
    </div>
{% endblock %}
