{% extends 'BaseWithSidebar.html.twig' %}

{% block title %}Mediathek{% endblock %}

{% block sidebar %}
    {{ include('Mediathek/Sidebar.html.twig', {sidebarItems: sidebarItems, currentItem: course}) }}
{% endblock %}

{% block body %}
    <header class="content-header">
        <h3>Alle Videos {{ course ? 'für '~course.name : '' }}</h3>
        {% if userService.userCanUploadVideo() %}
            <a href="{{ path('mediathek__video--upload', {id: course ? course.id : null}) }}" class="button button--type-primary">
                <i class="fas fa-plus-circle"></i>
                Neues Video
            </a>
        {% endif %}
    </header>

    {{ include('Mediathek/GroupedVideos.html.twig', {groupedVideos: groupedVideos}) }}
{% endblock %}
