<div class="data-privacy text-justified">
    <h2>I Allgemeine Vorbemerkungen</h2>

    <p>Die einzelnen Fachbereiche und das IT und Medien Centrum (ITMC) der Technischen Universität Dortmund (TU Dortmund) nehmen den Schutz von personenbezogenen Daten sehr ernst. Wir verarbeiten personenbezogene Daten, die beim Besuch unserer Webangebote erhoben werden, unter Beachtung der geltenden datenschutzrechtlichen Bestimmungen. Es gelten insbesondere das Datenschutzgesetz NRW (DSG NRW), die Datenschutzgrundverordnung (DSGVO) und das Telemediengesetz. Diese Datenschutzerklärung bezieht sich auf die Verarbeitung personenbezogener Daten im Rahmen der Webplattform <strong>degree40.tu-dortmund.de</strong> (Webplattform).</p>
    <p>Die Datenverarbeitung wird in einer gemeinsamen Verantwortlichkeitsvereinbarung geregelt. Für die Verarbeitung sind gemeinsam verantwortlich:</p>
    <address>
        Technische Universität Dortmund<br/>
        Ralf Offele<br/>
        August-Schmidt-Str. 4<br/>
        44227 Dortmund<br/>
        Telefon: 0231 755-2593<br/>
        <a href="mailto:datenschutzbeauftragter@tu-dortmund.de">datenschutzbeauftragter@tu-dortmund.de</a><br/>
    </address>

    <address>
        Universität Duisburg-Essen<br/>
        Kai-Uwe Loser<br/>
        Forsthausweg 2<br/>
        47057 Duisburg<br/>
        Telefon: 0234 32 28 720<br/>
        <a href="mailto:kai-uwe.loser@uni-due.de">kai-uwe.loser@uni-due.de</a><br/>
    </address>

    <address>
        Westfälische Wilhelms-Universität Münster<br/>
        Nina Meyer-Pachur<br/>
        Schlossplatz 2<br/>
        48149 Münster<br/>
        Telefon: 0251 83-22446<br/>
        <a href="mailto:datenschutz@uni-muenster.de">datenschutz@uni-muenster.de</a><br/>
    </address>

    <address>
        Bezirksregierung Arnsberg<br/>
        Christina Vogt<br/>
        Seibertzstr. 1<br/>
        59821 Arnsberg<br/>
        Telefon: 02931 82-2232<br/>
        <a href="mailto:datenschutz@bra.nrw.de">datenschutz@bra.nrw.de</a><br/>
    </address>

    <p>Die einzelnen beteiligten Hochschulen dienen als Kontakt für die jeweiligen Betroffenen.</p>
    <p>Auf der Webplattform werden nur Videos hochgeladen, für die ein entsprechendes Einverständnis vorliegt.</p>

    <h2>II Datenumfang, Speicherung, Zugriff, Zwecke</h2>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th><strong>Daten</strong></th>
                    <th><strong>Speicherort</strong></th>
                    <th><strong>Speicherdauer</strong></th>
                    <th><strong>Zugriff</strong></th>
                    <th><strong>Zweck</strong></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        Informationen über den Browsertyp und -version der Nutzer*innen
                    </td>
                    <td>
                        Logfiles im System des Betreibers: Testserver bzw. Produktivserver im ITMC
                    </td>
                    <td>
                        15 Tage
                    </td>
                    <td>
                        Systemadministrator*innen
                    </td>
                    <td>
                        (1) Diagnose und Behebung von auftretenden Fehlern<br/>
                        (2) Statistische Auswertung der zugreifenden Systeme<br/>
                        <br/>
                        (Art 6 Abs 1 lit a DSGVO;<br/>
                        Art 6 Abs. 1 lit b DSGVO;<br/>
                        Art 6 Abs 1 lit e DSGVO)
                    </td>
                </tr>

                <tr>
                    <td>
                        Betriebssystem der Nutzer*innen
                    </td>
                    <td>
                        Logfiles im System des Betreibers: Testserver bzw. Produktivserver im ITMCC
                    </td>
                    <td>
                        15 Tage
                    </td>
                    <td>
                        Systemadministrator*innen
                    </td>
                    <td>
                        (1) Diagnose und Behebung von auftretenden Fehlern<br/>
                        (2) Statistische Auswertung der zugreifenden Systeme<br/>
                        <br/>
                        (Art 6 Abs 1 lit a DSGVO;<br/>
                        Art 6 Abs. 1 lit b DSGVO;<br/>
                        Art 6 Abs 1 lit e DSGVO)
                    </td>
                </tr>

                <tr>
                    <td>
                        IP-Adresse der Nutzer*innen
                    </td>
                    <td>
                        Im RAM (Hauptspeicher) im System des Betreibers: Testserver bzw. Produktivserver im ITMC
                    </td>
                    <td>
                        Dauer einer Sitzung
                    </td>
                    <td>
                        Systemadministrator*innen
                    </td>
                    <td>
                        (1) Auslieferung der Webplattform an die Endgeräte der Nutzer*innen<br/>
                        (2) Optimierung der Webplattform<br/>
                        (3) Sicherstellung der Sicherheit der informationstechnischen Systeme des Betreibers
                    </td>
                </tr>

                <tr>
                    <td>
                        Datum und Uhrzeit des Zugriffs auf die Webplattform durch die Nutzer*innen
                    </td>
                    <td>
                        Logfiles im System des Betreibers: Testserver bzw. Produktivserver im ITMC
                    </td>
                    <td>
                        15 Tage
                    </td>
                    <td>
                        Systemadministrator*innen
                    </td>
                    <td>
                        (1) Diagnose und Behebung von auftretenden Fehlern<br/>
                        (2) Statistische Auswertung der zugreifenden Systeme<br/>
                        <br/>
                        (Art 6 Abs 1 lit a DSGVO;<br/>
                        Art 6 Abs. 1 lit b DSGVO;<br/>
                        Art 6 Abs 1 lit e DSGVO)
                    </td>
                </tr>

                <tr>
                    <td>
                        E-Mail-Adresse der Nutzer*innen
                    </td>
                    <td>
                        In der Datenbank des Testservers bzw. des Produktivservers im ITMC
                    </td>
                    <td>
                        Solange die Nutzer*innen entweder Angehörige der TU Dortmund sind oder auf der Webplattform registriert sind
                    </td>
                    <td>
                        (1) Systemadministrator*innen<br/>
                        (2) Nutzer*innen in der Rolle als Lehrende (Lehrende)<br/>
                        (3) Wenn Nutzer*innen im Rahmen eines Kurses Aufgabenbearbeitungen teilen oder Aufgaben in einer Gruppe bearbeiten, können auch die anderen Nutzer*innen des Kurses bzw. der Gruppe die E-Mail-Adresse sehen
                    </td>
                    <td>
                        (1) Einrichtung eines Nutzer*innenkontos zur Inanspruchnahme der Webplattform<br/>
                        (2) Zuordnung von Aufgabenbearbeitungen<br/>
                        <br/>
                        (Art 6 Abs 1 lit a DSGVO;<br/>
                        Art 6 Abs. 1 lit b DSGVO;<br/>
                        Art 6 Abs 1 lit e DSGVO)
                    </td>
                </tr>

                <tr>
                    <td>
                        Zugriffsrechte der Nutzer*innen
                    </td>
                    <td>
                        In der Datenbank des Testservers bzw. des Produktivservers im ITMC
                    </td>
                    <td>
                        Solange die Nutzer*innen auf der Webplattform registriert sind
                    </td>
                    <td>
                        (1) Lehrende und Systemadministrator*innen können die Zugriffsrechte aller Nutzer*innen einsehen und bearbeiten<br/>
                        (2) Lehrende können Zugriffe auf einzelne Kurse vergeben
                    </td>
                    <td>
                        Administrierung der Nutzer*innen und Rollenverwaltung<br/>
                        <br/>
                        (Art 6 Abs 1 lit a DSGVO;<br/>
                        Art 6 Abs. 1 lit b DSGVO;<br/>
                        Art 6 Abs 1 lit e DSGVO)
                    </td>
                </tr>

                <tr>
                    <td>
                        Hochgeladene Videos der Nutzer*innen samt Metainformationen
                    </td>
                    <td>
                        In der Datenbank des Testservers bzw. des Produktivservers im ITMC
                    </td>
                    <td>
                        5 Jahre
                    </td>
                    <td>
                        (1) Hochladende*r Nutzer*in<br/>
                        (2) Nutzer*innen eines Kurses, in dessen Rahmen ein Video hochgeladen wurde (Es erfolgt kein Zugriff auf Metainformationen)
                    </td>
                    <td>
                        Lehre und Forschung<br/>
                        <br/>
                        (Art 6 Abs 1 lit a DSGVO;<br/>
                        Art 6 Abs. 1 lit b DSGVO;<br/>
                        Art 6 Abs 1 lit e DSGVO)
                    </td>
                </tr>

                <tr>
                    <td>
                        Bestätigung durch die Nutzer*innen, dass die Personen, die in den hochgeladenen Videos vorkommen, ihr Einverständnis zur Verwendung des Videos gegeben haben
                    </td>
                    <td>
                        In der Datenbank des Testservers bzw. des Produktivservers im ITMC
                    </td>
                    <td>
                        Ablauf der Speicherdauer oder Löschung eines Videos
                    </td>
                    <td>
                        Systemadministrator*innen
                    </td>
                    <td>
                        Autorisierung für das Hochladen von Videos<br/>
                        <br/>
                        (Art 6 Abs 1 lit a DSGVO;<br/>
                        Art 6 Abs. 1 lit b DSGVO;<br/>
                        Art 6 Abs 1 lit e DSGVO)
                    </td>
                </tr>

                <tr>
                    <td>
                        Aufgabenbearbeitungen der Nutzer*innen (kodierte Videos, kommentierte Videos, geschnittene Videos, Eintragungen in der Dokumentationsphase)
                    </td>
                    <td>
                        In der Datenbank des Testservers bzw. des Produktivserver im ITMC
                    </td>
                    <td>
                        5 Jahre
                    </td>
                    <td>
                        (1) Systemadministrator*innen<br/>
                        (2) Lehrende<br/>
                        (3) Nutzer*innen, die die Aufgabenbearbeitungen erstellt haben<br/>
                        (4) Wenn Nutzer*innen im Rahmen eines Kurses Aufgabenbearbeitungen teilen oder Aufgaben in einer Gruppe bearbeiten, können auch die anderen Nutzer*innen des Kurses bzw. der Gruppe die Aufgabenbearbeitungen sehen
                    </td>
                    <td>
                        Lehre und Forschung<br/>
                        <br/>
                        (Art 6 Abs 1 lit a DSGVO;<br/>
                        Art 6 Abs. 1 lit b DSGVO;<br/>
                        Art 6 Abs 1 lit e DSGVO)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <h2>III Datenexport</h2>

    <p>
        Wenn Lehrende im Rahmen eines Kurses Aufgaben in der Webplattform angelegt haben und Nutzer*innen in der Rolle als Lernende diese Aufgaben bearbeiten, dann bietet die Webplattform den Lehrenden die Möglichkeit, die Aufgabenbearbeitungen der Lernenden (kodierte Videos, kommentierte Videos, geschnittene Videos, Eintragungen in der Dokumentationsphase) samt E-Mail-Adressen als CSV-Datei zu exportieren. Über die weitere Verarbeitung der Daten sind die Nutzerinnen in angemessener Form (Datenschutzerklärung) zu informieren.
    </p>

    <h2>IV Einsatz von Cookies</h2>

    <p>
        Zusätzlich zu den zuvor genannten Daten werden bei der Nutzung der Webplattform Cookies auf den Endgeräten der Nutzer*innen gespeichert. Bei Cookies handelt es sich um kleine Textdateien, die dem verwendeten Browser zugeordnet werden. Durch einen Cookie kommen der Stelle, die den Cookie setzt, bestimmte Informationen zu. Diese Informationen dienen dazu, das Internetangebot insgesamt nutzer*innenfreundlicher und effektiver zu gestalten. Diese Webplattform nutzt folgende Arten von Cookies, deren Umfang und Funktionsweise im Folgenden erläutert werden:
    </p>

    <p><strong>(1) Transiente Cookies</strong></p>
    <p>
        Transiente Cookies werden automatisiert gelöscht, wenn Nutzer*innen den Browser schließen. Dazu zählen insbesondere die Session-Cookies. Diese speichern eine sogenannte Session-ID, mit welcher sich verschiedene Anfragen des verwendeten Browsers der jeweiligen Sitzung zuordnen lassen. Dadurch können die Endgeräte der Nutzer*innen wiedererkannt werden, wenn diese auf die Webplattform zurückkehren. Die Session-Cookies werden gelöscht, wenn sich die Nutzer*innen ausloggen oder den Browser schließen.
    </p>

    <h2>V Rechte</h2>
    <p>
        Nutzer*innen haben jederzeit die Möglichkeit folgende Rechte geltend zu machen:
    </p>
    <ul>
        <li>
            <p><strong>Art. 7 Abs. 3 DSGVO: Recht auf Widerruf der Einwilligung:</strong> Sie haben das Recht, Ihre Einwilligung jederzeit mit Wirkung für die Zukunft zu widerrufen.</p>
        </li>
        <li>
            <p><strong>Art. 15 DSGVO: Auskunftsrecht:</strong> Sie haben uns gegenüber das Recht, Auskunft darüber zu erhalten, welche Daten wir zu Ihrer Person verarbeiten</p>
        </li>
        <li>
            <p><strong>Art. 16 DSGVO: Recht auf Berichtigung:</strong> Sollten die Sie betreffenden Daten nicht richtig oder unvollständig sein, so können Sie die Berichtigung unrichtiger oder die Vervollständigung unvollständiger Angaben verlangen.</p>
        </li>
        <li>
            <p><strong>Art. 17 DSGVO: Recht auf Löschung:</strong> Sie können jederzeit die Löschung Ihrer Daten verlangen.</p>
        </li>
        <li>
            <p><strong>Art. 18 DSGVO: Recht auf Einschränkung der Verarbeitung:</strong> Sie können die Einschränkung der Verarbeitung der Sie betreffenden personenbezogenen Daten verlangen.</p>
        </li>
        <li>
            <p><strong>Art. 21 DSGVO: Widerspruchsrecht:</strong> Sie können jederzeit gegen die Verarbeitung der Sie betreffenden Daten Widerspruch einlegen.</p>
        </li>
        <li>
            <p><strong>Art. 77 DSGVO: Recht auf Beschwerde bei einer Aufsichtsbehörde:</strong> Wenn Sie der Auffassung sind, dass wir bei der Verarbeitung Ihrer Daten datenschutzrechtliche Vorschriften nicht beachtet haben, können Sie sich mit einer Beschwerde an die zuständige Aufsichtsbehörde wenden, die Ihre Beschwerde prüfen wird.</p>
        </li>
    </ul>

    <p>
        Erklärungen zur Geltendmachung der Rechte sind grundsätzlich schriftlich an den Verantwortlichen zu richten. Für die Einhaltung der Datenschutzbestimmungen ist verantwortlich: Technische Universität Dortmund (gemäß dem Joint Controllers zum Datenschutz).
    </p>
</div>
