<div class="flash-messages">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                <div class="container">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endfor %}
</div>

