<div class="data-privacy text-justified">
    <address>
        Technische Universität Dortmund<br />
        August-Schmidt-Str. 4<br />
        44227 Dortmund<br />

        Telefon: 0231 755-1<br />
        <a href="mailto:presse@tu-dortmund.de">E-Mail senden</a><br />
    </address>

    <p>
        Die Technische Universität (TU) Dortmund ist gem. § 2 Abs. 1 Satz 1 i.V.m. § 1 Abs. 2 Satz 1 Nr. 5 des Gesetzes
        über die Hochschulen des Landes Nordrhein-Westfalen (HG NRW) eine vom Land Nordrhein-Westfalen getragene,
        rechtsfähige Körperschaft des öffentlichen Rechts. Sie wird vertreten durch den Rektor Prof. Dr. Manfred Bayer.
    </p>

    <p>
        Die TU Dortmund nimmt ihre Aufgaben gem. § 76 Abs. 1 Satz 1 HG NRW unter der Rechtsaufsicht des
        <a href="https://www.mkw.nrw/" target="_blank">Ministeriums für Kultur und Wissenschaft des Landes
        Nordrhein-Westfalen</a>, Völklinger Straße 49, 40221 Düsseldorf wahr.
    </p>

    <p>
        Umsatzsteuer-Identifikationsnummer gem. § 27a Umsatzsteuergesetz (UStG): DE 811 258 273
    </p>

    <p>
        Die Webplattform degree40.tu-dortmund.de (Webplattform) wird im Projekt DEGREE 4.0 unter der Leitung von Prof.
        Dr. Stephan Hußmann entwickelt und beforscht (Projektwebseite: degree.tu-dortmund.de).
    </p>

    <p>
        <strong>
            Redaktionell verantwortlich gemäß § 18 Abs. 2 des Medienstaatsvertrages (MStV):
        </strong>
    </p>

    <p>
        <address>
            Prof. Dr. Stephan Hußmann<br />
            Technische Universität Dortmund<br />
            Fakultät für Mathematik / Lehrstuhl IEEM<br />
            Vogelpothsweg 87<br />
            44227 Dortmund<br />
            <a href="mailto:Stephan.Hussmann@tu-dortmund.de">E-Mail senden</a>
        </address>
    </p>

    <p>
        <strong> Konzeption, Gestaltung, Umsetzung und Support:</strong>
        <address>
            Sanstorm Media GmbH<br />
            Tatzberg 47<br />
            01307 Dresden<br />
        </address>
    </p>
</div>
