<div class="data-privacy text-justified">
    <h2>I. Allgemeine Vorbemerkungen</h2>

    <p>
        Die Webplattform <a href="https://degree40.tu-dortmund.de" target="_blank">degree40.tu-dortmund.de</a> (im Folgenden: „Webplattform“) wurde im Rahmen von universitären Forschungsprojekten unter der Leitung von Prof. Dr. Stephan Hußmann entwickelt und beforscht. Die Webplattform wird von der <a href="https://degree40.tu-dortmund.de/impressum" target="_blank">TU Dortmund</a> (im Folgenden: „Anbieter“) bereitgestellt.
    </p>

    <h2>II. Geltungsbereich</h2>
    <ol>
        <li><p>Die Webplattform darf von registrierten Nutzer*innen im Rahmen von Lehr- und Forschungstätigkeiten genutzt werden. Lehrende können mit der Plattform videobasierte, digitale und barrierefreie Lehr-Lernsituationen gestalten. Nutzer*innen können mit der Plattform die Aufgaben- und Fragestellungen dieser Lehr-Lernsituationen bearbeiten und so fachliche und fachdidaktische Inhalte erarbeiten.</p></li>
        <li><p>Diese Nutzungsbedingungen gelten für die Nutzung der Webplattform im Verhältnis zwischen Nutzer*innen und Anbieter. Die Nutzung der Webplattform ist nur zulässig, wenn der*die Nutzer*in die Nutzungsbedingungen akzeptiert.</p></li>
    </ol>

    <h2>III. Registrierung</h2>

    <p>
        Für die Nutzung der Webplattform ist eine Registrierung notwendig. Diese erfolgt entweder automatisch beim ersten Anmelden an der Plattform über den SAML-Login mit einem UniAccount der TU Dortmund oder durch die Registrierung eines Accounts durch die Administrator*innen. Die Webplattform darf nach den Maßgaben der nachfolgenden Bestimmungen genutzt werden.
        Registrierte Nutzer*innen können sich von der Webplattform abmelden, indem sie eine E-Mail an <a href="mailto:datenschutz.degree@tu-dortmund.de">datenschutz.degree@tu-dortmund.de</a> senden. Alle gespeicherten Daten der Nutzer*innen werden daraufhin gelöscht.
    </p>

    <h2>IV. Leistungen des Anbieters</h2>

    <ol>
        <li><p>Der Anbieter gestattet die Nutzung der Webplattform im Rahmen der Nutzungsbedingungen.</p></li>
        <li><p>Ein Anspruch auf Nutzung der Webplattform besteht nicht. Insbesondere behält sich der Anbieter das Recht vor, Nutzer*innen von der Nutzung auszuschließen oder den Betrieb der Plattform einzustellen.</p></li>
        <li><p>Die TU Dortmund behält sich das Recht vor, Inhalte ohne Angabe von Gründen zu bearbeiten oder zu löschen.</p></li>
        <li><p>Bei Vorliegen eines wichtigen Grundes ist die TU Dortmund berechtigt, Nutzer*innen von der weiteren Nutzung der Webplattform auszuschließen.</p></li>
        <li><p>Die TU Dortmund übernimmt keine Gewähr für jegliche Art von bereitgestellten Inhalten der Nutzer*innen.</p></li>
    </ol>

    <h2>V. Regeln</h2>

    <ol>
        <li><p>Diese Webplattform darf ausschließlich im Rahmen von Lehr- und Forschungstätigkeiten genutzt werden.</p></li>
        <li><p>Der Download von Videos, der über das Abspielen und Bearbeiten der Videos mit der Webplattform hinausgeht, ist verboten. Die Nutzung der Plattform und ihrer Inhalte ist den Nutzer*innen lediglich für den mit der Plattform verfolgten Zweck gestattet.</p></li>
        <li><p>Mit dem Upload von Inhalten auf die Webplattform und der Erstellung von Inhalten auf der Webplattform erteilen die Nutzer*innen der TU Dortmund ein einfaches, räumlich und zeitlich uneingeschränktes unentgeltliches Nutzungsrecht für die von den Nutzer*innen erstellten Inhalte, sofern diese hierfür frei von Rechten Dritter sind. Das Nutzungsrecht umfasst insbesondere das Recht der TU Dortmund, erstellte Inhalte zur Veranschaulichung in Lehrveranstaltungen zu verwenden.</p></li>
        <li><p>Es dürfen nur Inhalte (z.B. Videos) hochgeladen werden, für deren Upload die Nutzer*innen berechtigt sind und deren Upload nicht gegen Rechte Dritter verstößt. Mit dem Upload versichern die Nutzer*innen, über alle hierfür erforderlichen Rechte zu verfügen.</p></li>
        <li><p>Die Nutzer*innen verpflichten sich, keine Inhalte zu veröffentlichen oder zu verbreiten, die gegen geltendes Recht oder die guten Sitten verstoßen. Nicht erlaubt sind insbesondere rechtswidrige, pornografische oder menschenverachtende Inhalte, Inhalte, die Werbung beinhalten sowie Inhalte, die Polemik, Propaganda, Provokationen oder Beleidigungen enthalten. Hiervon ausgenommen sind Unterrichtsinhalte, die diese Bereiche zum Gegenstand haben und erkennbar keinen Verstoß gegen Rechtsvorschriften oder die guten Sitten darstellen.</p></li>
        <li><p>Die Nutzer*innen sind nicht berechtigt, etwaige sich aus der Nutzungsvereinbarung ergebenden Rechte und Pflichten abzutreten und/oder auf Dritte zu übertragen.</p></li>

    </ol>

    <h2>VI. Einwilligung der Betroffenen</h2>

    <ol>
        <li><p>Nutzer*innen, die Videos auf die Webplattform hochladen, bestätigen, dass die datenschutzrechtliche Einwilligung der betroffenen Personen schriftlich eingeholt wurde, bei minderjährigen Betroffenen von deren gesetzlichen Vertretern, und wirksam vorliegt. Die Betroffenen wurden über ihre Rechte im Rahmen der Datenschutzgrundverordnung informiert.</p></li>
        <li><p>Die Nutzer*innen löschen die Inhalte unverzüglich, sollte die Einwilligung von den Betroffenen widerrufen werden. Zusätzlich ist der Anbieter über die den Widerruf der Einwilligung zu informieren.</p></li>
    </ol>

    <h2>VII. Haftungsbeschränkung</h2>

    <ol>
        <li><p>Der Anbieter übernimmt keine Gewähr für Aktualität, Vollständigkeit, Verlässlichkeit und Richtigkeit der Inhalte sowie die Verfügbarkeit der Webplattform.</p></li>
        <li><p>Haftungsansprüche gegen den Anbieter, seine gesetzlichen Vertreter sowie Erfüllungsgehilfen (Verantwortliche) die direkt oder indirekt aus der Nutzung der Webplattform resultieren sind ausgeschlossen, wenn sie nicht auf Vorsatz oder grober Fahrlässigkeit beruhen. Die Haftung für Schäden aus der Verletzung des Lebens, des Körpers oder der Gesundheit, die auf einer fahrlässigen oder vorsätzlichen Pflichtverletzung der Verantwortlichen beruht, bleiben hiervon unberührt.</p></li>
    </ol>

    <h2>VIII. Datenschutz</h2>

    <p>
        Informationen zum Datenschutz dieser Webplattform enthält die <a href="{{ path('data-privacy') }}">{{ "common.dataPrivacy"|trans({}, 'DegreeBase') }}</a>.
    </p>

    <h2>IX. Kontakt</h2>

    <p>
        Für alle Fragen zu diesen Nutzungsbedingungen, technische Aspekte oder Fehlermeldungen wenden Sie sich bitte an <a href="mailto:datenschutz.degree@tu-dortmund.de">datenschutz.degree@tu-dortmund.de</a>.
    </p>
</div>
