a,
a.nav-link {
    color: $theme__color__primary;

    &:focus {
        outline: 2px solid $theme__color__grey--dark;
        outline-offset: 2px;
    }

    &:hover,
    &:active,
    &:focus {
        color: $theme__color__primary--dark;
    }

    i {
        text-decoration: none !important;
    }
}

a:focus:not(:focus-visible) {
    outline: none;
}

a.color-alert {
    color: $theme__color__red;

    &:hover,
    &:active,
    &:focus {
        color: darken($theme__color__red, 20%);
    }
}
