.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    background-color: $theme__color__grey--light;
    border-top: 1px solid $theme__color__grey--dark;

    z-index: 8000;

    .form-group {
        margin: 0 !important;
    }

    .pagination {
        margin-bottom: 0;
    }

    &--center {
        justify-content: center;
    }
}
