.exercise-form {
    margin-bottom: 70px;

    textarea#exercise_description,
    textarea#video_analysis_task {
        min-height: 200px;
    }
}

.exercise-form__columns {
    display: flex;
    flex-direction: column;
}

.exercise-form__left {
    margin-bottom: 40px;
    padding-right: 0;
    width: 100%;
    border-right: none;
}

.exercise-form__right {
    width: 100%;
    padding-left: 0;
}

label.required:before {
    content: '*';
}
