.video-code-select {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

    margin-bottom: 0;
    padding-left: 0;
    height: 150px;
    max-height: 150px;

    overflow: auto;

    list-style: none;

    .video-code-select__option {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        text-align: center;

        & > i {
            margin-left: 10px;
            width: 25px;
            height: 25px;
        }

        & > div {
            margin-left: 10px;
            margin-right: 0;
        }

        & > label {
            margin-left: 10px;
        }
    }
}
