.solution-app {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.solutions-container {
    .media-lane-toolbar {
        position: sticky;
        top: 0;
        width: 100%;

        z-index: 999;
    }
}

.solutions {
    width: 100%;

    overflow: hidden;
    overflow-y: scroll;
}

.solutions-filter {
    padding: 10px;
}

.solutions-filter__entry {
    display: block;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;

    color: $theme__color__black;
}
