{% trans_default_domain 'forms' %}
{% extends 'BaseWithSidebar.html.twig' %}

{% block title %}{{ exercise.name }} - Lösungen{% endblock %}

{% block layoutCssClass %}main--without-scrollbar main--no-padding{% endblock %}

{% block sidebar %}
    {{ include('Exercise/PhasesSidebar.html.twig', {sidebarItems: exercise.phases, currentItemId: exercisePhase.id, showSolution: true}) }}
{% endblock %}

{% block body %}
    <div class="solution-app">
        <header class="content-header--center">
            <h3>{{ exercise.name }} - Lösungen</h3>
        </header>
        <div class="exercise-phase exercise-phase--read-only" data-controller="solutions" data-solutions-props="{{ {data: data, config: config} |json_encode|e('html_attr') }}">
            <div class="loading-screen">
                <i class="fas fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>
    <footer class="footer">
        <a
           class="btn btn-outline-primary"
           href="{{ path('exercise-overview') }}"
       >
           {% trans %}exercisePhase.showSolutions.back{% endtrans %}
       </a>
    </footer>
{% endblock %}
