{% extends 'BaseWithSidebar.html.twig' %}

{% block title %}{{ exercisePhase.name }}{% endblock %}

{% block layoutCssClass %}main--without-scrollbar{% endblock %}

{% block sidebar %}
    {{ include('Exercise/PhasesSidebar.html.twig', {sidebarItems: exercise.phases, currentItem: exercisePhase, showSolution: true}) }}
{% endblock %}

{% block body %}
    <div class="exercise-phase exercise-phase--read-only" data-controller="solutions" data-solutions-props="{{ {solutions: solutions, config: config} |json_encode|e('html_attr') }}">
        <div class="loading-screen">
            <i class="fas fa-spinner fa-spin"></i>
        </div>
    </div>
{% endblock %}
