<ul class="video-codes-list">
    {% for videoCode in videoCodes %}
        <li>
            <div class="video-code__content">
                <div class="video-code__color" style="background-color: {{ videoCode.color }};"></div>
                <span class="video-code__name">
                    {{ videoCode.name }}
                </span>
                <a data-controller="deleteEntity" href="{{ path('exercise-overview__video-codes--delete', {id: videoCode.id}) }}" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash-alt"></i> Video-Code löschen
                </a>
            </div>
        </li>
    {% else %}
        <li>
            Noch keine.
        </li>
    {% endfor %}
</ul>

