{% extends 'Layouts/Default.html.twig' %}
{% block main %}
    {{ include('Partials/Header.html.twig') }}

    <main class="main main--with-header {% block layoutCssClass %}{% endblock %}">
        <div class="main-inner">
            <div class="container">
                {{ include('Partials/FlashMessages.html.twig') }}
                {% block body %}{% endblock %}
            </div>
        </div>
    </main>
{% endblock %}
