# This sets the registry and npm token for our FontAwesomePro.
# You can find the token on "https://fontawesome.com/account#pro-package-tokens"
# Login can be found in our Bitwarden.

# Make a copy of this file and name it ".npmrc" and put replace "FONT_AWESOME_PRO_TOKEN" with the real token.

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=$FONTAWESOME_NPM_AUTH_TOKEN
