default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\DegreeContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                class: App\Kernel
        Behat\MinkExtension:
            sessions:
                symfony:
                    symfony: ~
